Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix(sdk-ui-filters): no filter values when ignore limiting filter
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: enable composite grain by default
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: test version
  .github/workflows/doc-examples-deploy.yml
  .github/workflows/doc-netlify-deploy.yaml
  .github/workflows/rw-rush-build-basic-checks.yml
Due: prettier --write

feat: Rename Column group to Column container in add panel
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddDashboardLayoutWidgetButton.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-AU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-GB.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-kit/src/Icon/Icon.tsx
  libs/sdk-ui-kit/src/Icon/icons/ColumnContainer.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update testing libs
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
Due: prettier --write

chore: update dependencies
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  examples/playground/package.json
Due: prettier --write

chore: update attribution file
  NOTICE
Due: none

feat: introduce simpleRecurrenceTypeMappingFn
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/RecurrenceForm/RecurrenceForm.tsx
  libs/sdk-ui-kit/src/RecurrenceForm/RepeatTypeDescription.tsx
  libs/sdk-ui-kit/src/RecurrenceForm/RepeatTypeSelect.tsx
  libs/sdk-ui-kit/src/RecurrenceForm/index.ts
  libs/sdk-ui-kit/src/RecurrenceForm/useCronValidation.ts
  libs/sdk-ui-kit/src/RecurrenceForm/utils/simpleRecurrenceTypeMappingFn.test.ts
  libs/sdk-ui-kit/src/RecurrenceForm/utils/simpleRecurrenceTypeMappingFn.ts
  libs/sdk-ui-kit/src/RecurrenceForm/utils/utils.test.ts
  libs/sdk-ui-kit/src/RecurrenceForm/utils/utils.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: use simpleRecurrenceTypeMapping in dashboard eval frequency
  libs/sdk-ui-dashboard/src/presentation/dashboardSettingsDialog/DefaultDashboardSettingsDialog.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: raw exports dashboard filters
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/exportRawInsightWidgetHandler.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/InsightDrillDialog/DrillDialogInsight.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/InsightDrillDialog/InsightDrillDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/ExportOptions.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/DefaultDashboardInsightWidget.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update dependency @testing-library/react to v16.3.0
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
Due: prettier --write

fix: add support for ScopedThemeProvider
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltip.tsx
  libs/sdk-ui-kit/src/@ui/UiTooltip/constants.ts
  libs/sdk-ui-kit/src/@ui/UiTooltip/utils.ts
  libs/sdk-ui-tests/stories/visual-regression/ui/UiTooltip.tsx
  libs/sdk-ui-theme-provider/api/sdk-ui-theme-provider.api.md
  libs/sdk-ui-theme-provider/src/ThemeProvider/ConditionalScopedThemeProvider.tsx
  libs/sdk-ui-theme-provider/src/ThemeProvider/Context.tsx
  libs/sdk-ui-theme-provider/src/ThemeProvider/ScopedThemeProvider.tsx
  libs/sdk-ui-theme-provider/src/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

work
  libs/sdk-ui-dashboard/vite.config.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test
  .github/workflows/rw-rush-build-basic-checks.yml
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-dashboard/vite.config.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: temporarily disable failed test till bug fixed
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/availableValueFilter.spec.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: loading icon disappears after clear text from Search field
  libs/sdk-ui-kit/src/Dropdown/Dropdown.tsx
  libs/sdk-ui-kit/src/Dropdown/DropdownButtonKeyboardWrapper.tsx
  libs/sdk-ui-semantic-search/src/SemanticSearch.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: correctly use onChange in automation attribute filter
  libs/sdk-ui-dashboard/src/presentation/automationFilters/components/AutomationAttributeFilter.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: allow configuring dashboard initial render mode in Playground
  examples/playground/.env.template
  examples/playground/README.md
  examples/playground/src/playground/Playground.tsx
  examples/playground/typings/vite-env.d.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: update doc for webcomponent ai-chat
  docs/content/en/latest/learn/embed_dashboards/web_components/ai_assistant_custom_element.md
  docs/content/en/latest/learn/embed_dashboards/web_components/angular.md
  docs/content/en/latest/learn/embed_dashboards/web_components/vue.md
  docs/content/en/latest/references/embed_ai_assistant/_index.md
  libs/sdk-ui-gen-ai/README.md
  libs/sdk-ui-gen-ai/api/sdk-ui-gen-ai.api.md
  libs/sdk-ui-gen-ai/src/components/GenAIChat.tsx
  libs/sdk-ui-gen-ai/src/index.ts
  libs/sdk-ui-tests/stories/visual-regression/genAI/Chat.tsx
  libs/sdk-ui-web-components/README.md
  libs/sdk-ui-web-components/src/gen-ai/GenAiAssistant.tsx
  libs/sdk-ui-web-components/src/gen-ai/components.css
  libs/sdk-ui-web-components/src/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

docs: explicitly specify supported React versions
  docs/content/en/latest/architecture/architecture_overview/compatibility/_index.md
Due: prettier --write

fix: improve zooming in charts with forced data label visibility
  libs/sdk-ui-charts/src/highcharts/adapter/plugins/autohideLabels/autohideBarLabels.ts
  libs/sdk-ui-charts/src/highcharts/adapter/plugins/autohideLabels/autohideColumnLabels.ts
  libs/sdk-ui-charts/src/highcharts/adapter/plugins/autohideLabels/autohideLabelsOverlappingItsShape.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/dataLabelsHelpers.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/helpers.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/test/dataLabelsHelpers.test.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: properly check all focused object keys in layout customizer
  libs/sdk-ui-dashboard/src/plugins/customizationApis/layoutCustomizer.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

Path conditions:
  prettier --write: any of: ./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx,scss}
