Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/src/_staging/dateFilterConfig/validation.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/resolveDashboardConfig.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PluggablePivotTableNext.tsx
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/Components/Dropdown/AttributeFilterDropdown.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/StatusBar/AttributeFilterSelectionStatus.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/StatusBar/AttributeFilterStatusBar.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/DateInput.tsx
  libs/sdk-ui-filters/src/DateFilter/ExcludeCurrentPeriodToggle/ExcludeCurrentPeriodToggle.tsx
  libs/sdk-ui-filters/src/DateFilter/accessibility/keyboardNavigation.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/WithConditionalAnchor.tsx
  libs/sdk-ui-kit/src/@ui/UiLink/UiLink.scss
  libs/sdk-ui-kit/src/@ui/UiLink/UiLink.tsx
  libs/sdk-ui-kit/src/List/InvertableSelect/InvertableSelectStatusBar.tsx
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/constants/agGrid.tsx
  libs/sdk-ui-pivot/src/next/context/TableMetadataContext.tsx
  libs/sdk-ui-pivot/src/next/dataSource/createServerSideDataSource.ts
  libs/sdk-ui-pivot/src/next/drill/intersection.ts
  libs/sdk-ui-pivot/src/next/drill/isDrillable.ts
  libs/sdk-ui-pivot/src/next/hooks/useDrilling.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDimensionsToColDefs.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/__snapshots__/mapDimensionsToColDefs.test.ts.snap
  libs/sdk-ui-pivot/src/next/styling/cell.ts
  libs/sdk-ui-pivot/styles/scss/agVariables.scss
  libs/sdk-ui-pivot/styles/scss/gdVariables.scss
  libs/sdk-ui-pivot/styles/scss/main.scss
  libs/sdk-ui-pivot/styles/scss/pivotTableNext.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

Update dependencies after rush update
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/
  .github/workflows/rw-rush-build-e2e-tests.yml
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/src/_staging/dateFilterConfig/validation.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/resolveDashboardConfig.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PluggablePivotTableNext.tsx
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/Components/Dropdown/AttributeFilterDropdown.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/StatusBar/AttributeFilterSelectionStatus.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/StatusBar/AttributeFilterStatusBar.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/DateInput.tsx
  libs/sdk-ui-filters/src/DateFilter/ExcludeCurrentPeriodToggle/ExcludeCurrentPeriodToggle.tsx
  libs/sdk-ui-filters/src/DateFilter/accessibility/keyboardNavigation.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/WithConditionalAnchor.tsx
  libs/sdk-ui-kit/src/@ui/UiLink/UiLink.scss
  libs/sdk-ui-kit/src/@ui/UiLink/UiLink.tsx
  libs/sdk-ui-kit/src/List/InvertableSelect/InvertableSelectStatusBar.tsx
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/constants/agGrid.tsx
  libs/sdk-ui-pivot/src/next/context/TableMetadataContext.tsx
  libs/sdk-ui-pivot/src/next/dataSource/createServerSideDataSource.ts
  libs/sdk-ui-pivot/src/next/drill/intersection.ts
  libs/sdk-ui-pivot/src/next/drill/isDrillable.ts
  libs/sdk-ui-pivot/src/next/hooks/useDrilling.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDimensionsToColDefs.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/__snapshots__/mapDimensionsToColDefs.test.ts.snap
  libs/sdk-ui-pivot/src/next/styling/cell.ts
  libs/sdk-ui-pivot/styles/scss/agVariables.scss
  libs/sdk-ui-pivot/styles/scss/gdVariables.scss
  libs/sdk-ui-pivot/styles/scss/main.scss
  libs/sdk-ui-pivot/styles/scss/pivotTableNext.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update dependencies after rush update
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update attribution file
  NOTICE
Due: none

feat: add skip-links import and update breadcrumbs styles for mobile
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/breadcrumbs.scss
  docs/assets/scss/menu.scss
  docs/go.mod
  docs/go.sum
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/
  NOTICE
  README.md
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmails.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsCommands.tsx
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsDialog.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsManagementDialog.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/ui/uiReducers.ts
  libs/sdk-ui-dashboard/src/model/types/commonTypes.ts
  libs/sdk-ui-dashboard/src/types.ts
  libs/sdk-ui-kit/src/utils/domUtilities.ts
  libs/sdk-ui-vis-commons/src/legend/LegendSeries.tsx
  libs/sdk-ui-vis-commons/src/legend/PopUpLegend/LegendDialog.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/
  .github/workflows/check.yaml
  README.md
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmails.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsCommands.tsx
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsDialog.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsManagementDialog.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/ui/uiReducers.ts
  libs/sdk-ui-dashboard/src/model/types/commonTypes.ts
  libs/sdk-ui-dashboard/src/types.ts
  libs/sdk-ui-kit/src/utils/domUtilities.ts
  libs/sdk-ui-vis-commons/src/legend/LegendSeries.tsx
  libs/sdk-ui-vis-commons/src/legend/PopUpLegend/LegendDialog.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/
  common/changes/@gooddata/sdk-ui-all/ine-lx-1257_2025-07-29-11-29.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update Hugo version to 10.36
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/ine-lx-1257_2025-07-29-11-29.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

chore: update dependency @gooddata/fixtures to v2.0.1
  libs/sdk-backend-tiger/package.json
  libs/sdk-ui-tests-e2e/package.json
  tools/reference-workspace-mgmt/package.json
Due: prettier --write

fix: update dependency @actions/github to v6.0.1
  .github/actions/git-check-release/package-lock.json
  .github/actions/hugo-update-param-action/package-lock.json
Due: prettier --write

chore: update dependency eslint-plugin-tsdoc to ^0.4.0
  libs/api-client-tiger/package.json
  libs/sdk-backend-base/package.json
  libs/sdk-backend-mockingbird/package.json
  libs/sdk-backend-spi/package.json
  libs/sdk-backend-tiger/package.json
  libs/sdk-embedding/package.json
  libs/sdk-model/package.json
  libs/sdk-ui-all/package.json
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-loaders/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests-e2e/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui-web-components/package.json
  libs/sdk-ui/package.json
  libs/util/package.json
  skel/sdk-skel-ts/package.json
  skel/sdk-skel-tsx/package.json
  tools/app-toolkit/package.json
  tools/applink/package.json
  tools/catalog-export/package.json
  tools/dashboard-plugin-template/package.json
  tools/i18n-toolkit/package.json
  tools/mock-handling/package.json
  tools/plugin-toolkit/package.json
  tools/react-app-template/package.json
  tools/reference-workspace-mgmt/package.json
  tools/reference-workspace/package.json
Due: prettier --write

chore: update dependency hugo-extended to ^0.148.0
  docs/package-lock.json
  docs/package.json
Due: prettier --write

chore: update dependency jsdom to v26.1.0
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-tests/package.json
Due: prettier --write

chore: update dependency mocha to ~10.8.0
  libs/sdk-ui-tests-e2e/package.json
Due: prettier --write

chore: update dependency xml2js to ^0.6.0
  libs/sdk-ui-tests-e2e/package.json
Due: prettier --write

chore: update ncipollo/release-action action to v1.18.0
  .github/workflows/rw-git-create-tag.yml
Due: none

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-embedding/api/sdk-embedding.api.md
  libs/sdk-embedding/src/iframe/EmbeddedGdc.ts
  libs/sdk-embedding/src/internal/filterConvertors.ts
  libs/sdk-model/src/execution/filter/index.ts
  libs/sdk-ui-filters/src/DateFilter/utils/AFMConversions.ts
  libs/sdk-ui-tests/.storybook/main.js
  libs/sdk-ui-tests/backstop/story-extractor.test.ts
  libs/sdk-ui-tests/backstop/story-extractor.ts
  libs/sdk-ui-tests/backstop/story-generator.test.ts
  libs/sdk-ui-tests/backstop/story-generator.ts
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-tests/stories/_infra/toBackstop.ts
  libs/sdk-ui-tests/vite.config.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (6be5c9e)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-embedding/api/sdk-embedding.api.md
  libs/sdk-embedding/src/iframe/EmbeddedGdc.ts
  libs/sdk-embedding/src/internal/filterConvertors.ts
  libs/sdk-model/src/execution/filter/index.ts
  libs/sdk-ui-filters/src/DateFilter/utils/AFMConversions.ts
  libs/sdk-ui-tests/.storybook/main.js
  libs/sdk-ui-tests/backstop/story-extractor.test.ts
  libs/sdk-ui-tests/backstop/story-extractor.ts
  libs/sdk-ui-tests/backstop/story-generator.test.ts
  libs/sdk-ui-tests/backstop/story-generator.ts
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-tests/stories/_infra/toBackstop.ts
  libs/sdk-ui-tests/vite.config.ts
  libs/sdk-ui/api/sdk-ui.api.md
  libs/sdk-ui/src/base/index.tsx
  libs/sdk-ui/src/base/localization/intlUtils.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: update dependency @floating-ui/react-dom to v2.1.5
  libs/sdk-ui-kit/package.json
Due: prettier --write

ci: replace 3rdparty images with pullthrough cache
  libs/sdk-backend-tiger/docker-compose-isolated-gdcui.yaml
  libs/sdk-backend-tiger/docker-compose-isolated-record-gdcui.yaml
  libs/sdk-backend-tiger/docker-compose-isolated-record.yaml
  libs/sdk-backend-tiger/docker-compose-isolated.yaml
  libs/sdk-ui-tests-e2e/Dockerfile
  libs/sdk-ui-tests-e2e/Dockerfile_local
  libs/sdk-ui-tests-e2e/README.md
  libs/sdk-ui-tests-e2e/docker-compose-isolated-gdcui.yaml
  libs/sdk-ui-tests-e2e/docker-compose-isolated.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (73a3961)
  .github/workflows/rw-publish-prerelease.yml
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  common/scripts/publish-local.js
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
  libs/sdk-ui-kit/src/@ui/UiPagedVirtualList/UiPagedVirtualList.tsx
  libs/sdk-ui-kit/src/List/InvertableSelect/InvertableSelectVirtualised.tsx
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/constants/agGrid.tsx
  libs/sdk-ui-pivot/src/next/constants/internal.ts
  libs/sdk-ui-pivot/src/next/features/columnDefs/columnDefinitionToColDef.ts
  libs/sdk-ui-pivot/src/next/features/columnDefs/createAttributeColumnDef.ts
  libs/sdk-ui-pivot/src/next/features/columnDefs/createMeasureColumnDef.ts
  libs/sdk-ui-pivot/src/next/features/dataLoading/tests/__snapshots__/dataViewToColumnDefs.test.ts.snap
  libs/sdk-ui-pivot/src/next/features/styling/bem.ts
  libs/sdk-ui-pivot/src/next/features/styling/cell.ts
  libs/sdk-ui-pivot/src/next/features/styling/icons.ts
  libs/sdk-ui-pivot/src/next/features/styling/useThemeProps.ts
  libs/sdk-ui-pivot/styles/scss/pivotTableNext.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
