Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

chore: update dependency @testing-library/react to v16.3.0
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
Due: prettier --write

chore: update dependency @types/prettier to ~1.19.0
  tools/catalog-export/package.json
  tools/mock-handling/package.json
Due: prettier --write

feat: Add variant and disabled props to UiTooltip
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltip.scss
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltip.tsx
  libs/sdk-ui-kit/src/@ui/UiTooltip/types.ts
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiTooltip_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiTooltip_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiTooltip.stories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Add missing changes
  common/changes/@gooddata/sdk-ui-all/mnaj-stl-1571_2025-07-17-15-21.json
Due: prettier --write

fix(docs): Fix SemanticSearch example
  docs/content/en/latest/references/embed_semantic_search/_index.md
Due: prettier --write

feat: add pluggable pivot table next
  libs/sdk-ui-ext/src/insightView/InsightRenderer.tsx
  libs/sdk-ui-ext/src/internal/components/BaseVisualization.tsx
  libs/sdk-ui-ext/src/internal/components/VisualizationCatalog.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PivotTableNextDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PluggablePivotTableNext.tsx
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/helpers.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/pivotTableNextConfigFromInsight.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/sortHelpers.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/totalsHelpers.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/widthItemsHelpers.ts
  libs/sdk-ui-ext/src/internal/constants/supportedProperties.ts
  libs/sdk-ui-ext/src/internal/utils/pivotTableConfigUtils.ts
  libs/sdk-ui-ext/src/internal/utils/uiConfigHelpers/pivotTableNextUiConfigHelper.ts
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/constants/internal.ts
  libs/sdk-ui-pivot/src/next/drill/getAvailableDrillTargets.ts
  libs/sdk-ui-pivot/src/next/execution/getExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useInitExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useServerSideRowModel.ts
  libs/sdk-ui-pivot/src/next/index.ts
  libs/sdk-ui-pivot/src/next/types/public.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

lock fix after rebase
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

fix: prevent infinite re-render of filter bar
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBarContainer.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/hooks/useFilterBarState.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: do not render favicon when null/empty
  libs/sdk-ui-kit/src/DocumentHeader/DocumentHeader.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: move post merge to checklist
  libs/sdk-ui-tests-e2e/README.md
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/permissions.spec.ts
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/shareDashboardToEveryone.spec.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

refactor: use `if` condition
  libs/sdk-ui-kit/src/@ui/UiListbox/UiListbox.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

refactor: replace `any` with `unknown`
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiTreeview/UiTreeview.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat(sdk-ui-charts): support threshold measure in combo chart
  common/changes/@gooddata/sdk-ui-all/ovel-threshold-metric-for-combo-chart_2025-07-17-06-48.json
  libs/sdk-ui-charts/api/sdk-ui-charts.api.md
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartOptions/chartOptionsBuilder.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartOptions/chartThresholds.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartOptions/test/__snapshots__/chartThresholds.test.ts.snap
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartOptions/test/chartThresholds.test.ts
  libs/sdk-ui-charts/src/highcharts/typings/unsafe.ts
  libs/sdk-ui-charts/src/interfaces/chartConfig.ts
  libs/sdk-ui-ext/src/internal/components/tests/__snapshots__/VisualizationCatalog.test.ts.snap
  libs/sdk-ui-ext/src/internal/constants/supportedProperties.ts
  libs/sdk-ui-tests/backstop/reference/storybook_01_Stories_From_Test_Scenarios_ComboChart_customization_-_threshold_combo_zones_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_01_Stories_From_Test_Scenarios_ComboChart_customization_-_threshold_combo_zones_with_excluded_measures_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_04_Stories_For_Pluggable_Vis_ComboChart_customization_-_threshold_combo_zones_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_04_Stories_For_Pluggable_Vis_ComboChart_customization_-_threshold_combo_zones_with_excluded_measures_0_document_0_desktop.png
  libs/sdk-ui-tests/scenarios/charts/comboChart/customization.tsx
  libs/sdk-ui-tests/tests/api-regression/charts/__snapshots__/comboChart.test.tsx.snap
  libs/sdk-ui-tests/tests/api-regression/dataAccess/__snapshots__/dataAccess.test.ts.snap
  libs/sdk-ui/src/base/react/legacy/tests/__snapshots__/availableDrillTargets.test.ts.snap
  libs/sdk-ui/src/base/results/internal/test/__snapshots__/dataAccessDigest.test.ts.snap
  tools/reference-workspace/src/recordings/index.ts
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/39b0cfde3518f5db3ee3afa7ad305c54/dataView_all.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/39b0cfde3518f5db3ee3afa7ad305c54/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/39b0cfde3518f5db3ee3afa7ad305c54/executionResult.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/39b0cfde3518f5db3ee3afa7ad305c54/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/39b0cfde3518f5db3ee3afa7ad305c54/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/ComboChart.40ba90bb91b573d47e411c41016c7d3b/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/ComboChart.4484a5256290fb780fa7a4be90bd5042/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/insights.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

refactor: move utils to dedicated module
  libs/sdk-ui-kit/src/@ui/UiTreeview/UiTreeview.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/utils.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

refactor: move sub components in dedicated modules
  libs/sdk-ui-kit/src/@ui/UiTreeview/UITreeviewItem.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/UiTreeview.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/UiTreeviewRoot.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: fs issue in smoke and capture
  libs/sdk-ui-tests/tests/smoke-and-capture/allScenarios.test.tsx
  libs/sdk-ui-tests/tests/smoke-and-capture/utils.ts
  libs/sdk-ui-tests/vite.config.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: handle invalid filter selection in Dashboard
  common/changes/@gooddata/sdk-ui-all/ine-clear-fix_2025-07-18-11-58.json
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/attributeFilter/changeAttributeFilterSelectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commands/filters.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextReducers.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextState.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBar.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBarContainer.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: multiple AF fixes + validity propagation
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/types.ts
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/Components/Dropdown/AttributeFilterDropdown.tsx
  libs/sdk-ui-filters/src/AttributeFilter/hooks/types.ts
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
  libs/sdk-ui-filters/src/AttributeFilter/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

refactor: provide explicit `defaultClassName` and `defaultStyle`
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiTreeview/UITreeviewItem.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/defaults/DefaultUiTreeViewItemComponent.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/types.ts
  libs/sdk-ui-tests/stories/visual-regression/ui/UiTreeview.stories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Convert mock-handling codegen output to ESM
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-tests/scenarios/charts/barChart/coloring.tsx
  libs/sdk-ui-tests/scenarios/charts/columnChart/coloring.tsx
  tools/mock-handling/package.json
  tools/mock-handling/src/codegen/catalog.ts
  tools/mock-handling/src/codegen/dashboard.ts
  tools/mock-handling/src/codegen/dataSample.ts
  tools/mock-handling/src/codegen/displayForm.ts
  tools/mock-handling/src/codegen/execution.ts
  tools/mock-handling/src/codegen/index.ts
  tools/mock-handling/src/codegen/insight.ts
  tools/mock-handling/src/codegen/visClasses.ts
  tools/reference-workspace/src/recordings/dataSample.ts
  tools/reference-workspace/src/recordings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Update react to v19, and other deps
  common/config/rush/pnpm-config.json
  examples/playground/package.json
  examples/sdk-interactive-examples/examples-template/package.json
  examples/sdk-interactive-examples/examples/example-attributefilter/package.json
  examples/sdk-interactive-examples/examples/example-chartconfig/package.json
  examples/sdk-interactive-examples/examples/example-columnchart/package.json
  examples/sdk-interactive-examples/examples/example-combochart/package.json
  examples/sdk-interactive-examples/examples/example-dashboard/package.json
  examples/sdk-interactive-examples/examples/example-datefilter/package.json
  examples/sdk-interactive-examples/examples/example-dependentfilters/package.json
  examples/sdk-interactive-examples/examples/example-execute/package.json
  examples/sdk-interactive-examples/examples/example-granularity/package.json
  examples/sdk-interactive-examples/examples/example-headline/package.json
  examples/sdk-interactive-examples/examples/example-pivottable/package.json
  examples/sdk-interactive-examples/examples/example-relativedatefilter/package.json
  examples/sdk-interactive-examples/examples/example-repeater/package.json
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-loaders/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests-e2e/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui-web-components/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
  tools/dashboard-plugin-template/package.json
  tools/react-app-template/package.json
Due: prettier --write

fix: updating react version in angular code snippet
  docs/content/en/latest/architecture/supported_frameworks/angular.md
Due: prettier --write

chore: update attribution file
  NOTICE
Due: none

feat: to date option in date filter
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-backend-tiger/src/backend/workspace/dateFilterConfigs/index.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/DateFilterConfigurationConverter.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/afm/FilterConverter.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/dashboard/filterContext.ts
  libs/sdk-model/src/dateFilterConfig/index.ts
  libs/sdk-model/src/execution/filter/index.ts
  libs/sdk-model/src/index.ts
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/_staging/dashboard/dashboardFilterContext.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/dashboardFilterConverter.ts
  libs/sdk-ui-dashboard/src/_staging/dateFilterConfig/dateFilterOptionConverters.ts
  libs/sdk-ui-dashboard/src/_staging/dateFilterConfig/dateFilterOptionMapping.ts
  libs/sdk-ui-dashboard/src/_staging/dateFilterConfig/defaultConfig.ts
  libs/sdk-ui-dashboard/src/converters/filterConverters.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/tests/handler.test.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/changeFilterContextSelectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/dateFilter/changeDateFilterSelectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commands/filters.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextReducers.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBar.tsx
  libs/sdk-ui-ext/src/notificationsPanel/data/dateFilterNaming.ts
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useResolveDependentDateFiltersInput.ts
  libs/sdk-ui-filters/src/DateFilter/index.ts
  libs/sdk-ui-filters/src/DateFilter/interfaces/index.ts
  libs/sdk-ui-filters/src/DateFilter/utils/AFMConversions.ts
  libs/sdk-ui-filters/src/DateFilter/utils/Translations/DateFilterTitle.ts
  libs/sdk-ui-filters/src/index.ts
  libs/sdk-ui-filters/src/locales.ts
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

refactor: remove insight/report wording toggle
  dev_docs/localisation.md
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-ext/src/internal/translations/en-US.json
  libs/sdk-ui/api/sdk-ui.api.md
  libs/sdk-ui/src/base/index.tsx
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/index.ts
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/tests/TranslationsCustomizationProvider.test.tsx
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/tests/__snapshots__/utils.test.ts.snap
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/tests/utils.test.ts
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/utils.ts
  libs/sdk-ui/src/base/localization/bundles/en-US.json
  tools/i18n-toolkit/src/data.ts
  tools/i18n-toolkit/src/fixtures/en-US.json
  tools/i18n-toolkit/src/index.ts
  tools/i18n-toolkit/src/validate.ts
  tools/i18n-toolkit/src/validations/insightToReport.ts
  tools/i18n-toolkit/src/validations/messagesUsage.ts
  tools/i18n-toolkit/src/validations/test/insightToReport.test.ts
  tools/i18n-toolkit/src/validations/usage/checkTranslations.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: add new pivot table feature flag
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
