Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, gdc-fix-copyright, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright, sort-package-json

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (84247a3)
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-08-09-02.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-backend-spi/src/backend/capabilities.ts
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: update dependencies after rush update
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update Hugo version to 11.3
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-580-autoFocus_2025-10-03-10-41.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-580-autoFocus_2025-10-03-10-50.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-701-permissions_2025-10-06-09-22.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-701-permissions_2025-10-06-09-24.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-701-permissions_2025-10-06-09-27.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-701-permissions_2025-10-06-09-37.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-701-permissions_2025-10-06-09-38.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-736_2025-10-02-08-27.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-736_2025-10-02-08-30.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-736_2025-10-02-08-32.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-749_2025-10-07-06-18.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-749_2025-10-07-06-23.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-11-59.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-08-07-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-02-10-03.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-03-06-57.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-03-10-02.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-06-07-19.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-06-09-27.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-08-09-02.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1576-saved-views-aria_2025-10-07-07-13.json
  common/changes/@gooddata/sdk-ui-all/cursor-handle-feature-loading-errors-with-default-flags-8d23_2025-10-03-13-15.json
  common/changes/@gooddata/sdk-ui-all/cursor-validate-plugin-name-for-snake-case-e6a5_2025-10-02-12-49.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1444-3_2025-10-02-07-03.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1502_2025-10-03-07-47.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1523-2_2025-10-01-09-35.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1554_2025-10-02-10-36.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1569_2025-10-06-15-27.json
  common/changes/@gooddata/sdk-ui-all/master_2025-09-30-23-41.json
  common/changes/@gooddata/sdk-ui-all/master_2025-10-01-00-32.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableAdDescriptionEdit_2025-09-25-23-33.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableDuplicatedLabelValuesInAttributeFilter_2025-10-02-19-14.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableNewNavigationForResponsiveUi_2025-10-01-12-24.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (8749acd)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update Hugo version to 11.4
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-11-59.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-08-07-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-06-09-27.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-08-10-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-08-11-53.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-08-13-14.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1582_2025-10-08-15-29.json
  common/changes/@gooddata/sdk-ui-all/nen-lx-1592_2025-10-08-10-36.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (a562bf6)
  NOTICE
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-catalog/.eslintrc.cjs
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/DateInput.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/TimeInput.tsx
  libs/sdk-ui-filters/src/DateFilter/DynamicSelect/RelativeRangeDynamicSelect.tsx
  libs/sdk-ui-filters/styles/scss/attributeFilterNext/attributeFilterElementsSelect.scss
  libs/sdk-ui-kit/src/Header/Header.tsx
  libs/sdk-ui-pivot/src/next/hooks/header/useHeaderMenuTextWrapping.ts
  libs/sdk-ui-tests-e2e/cypress.config.ts
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/dateFiltering.spec.ts
  libs/sdk-ui-tests-e2e/cypress/plugins/parseXlsx.ts
  libs/sdk-ui-tests-e2e/cypress/plugins/readPdf.ts
  libs/sdk-ui-tests-e2e/cypress/plugins/removePassingTestVideos.ts
  libs/sdk-ui-tests-e2e/cypress/tools/enum/DateFilterValue.ts
  libs/sdk-ui/src/base/localization/bundles/en-US.json
  tools/react-app-template/.eslintrc.cjs
  tools/react-app-template/src/App.tsx
Due: eslint --fix, prettier --write, gdc-fix-copyright

Path conditions:
  eslint --fix: any of: ./**/*.{ts,js,tsx,jsx}
  prettier --write: ((any of: ./**/*.{ts,js,tsx,jsx}) or (any of: ./**/*.{json,md,yaml,html})) or (any of: ./**/*.{scss})
  gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{scss}
  sort-package-json: any of: ./**/package.json
