Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, gdc-fix-copyright, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright, sort-package-json

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx}": ["eslint --fix", "prettier --write", "gdc-fix-copyright"],
    "./**/*.{json,md,yaml,html}": "prettier --write",
    "./**/*.{scss}": ["prettier --write", "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"],
    "./**/package.json": "sort-package-json",
}

chore: update dependencies after rush update
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (006976a)
  common/changes/@gooddata/sdk-ui-all/nen-lx-1556_2025-10-01-10-41.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Dialog/ExportTabularPdfDialog.tsx
  libs/sdk-ui-kit/src/Dropdown/DropdownButton.tsx
  libs/sdk-ui-kit/src/Header/Header.tsx
  libs/sdk-ui-kit/src/Header/typings.ts
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: update Hugo version to 11.2
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (32a1632)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  examples/sdk-interactive-examples/scripts/updateTemplate.mjs
  libs/sdk-ui-dashboard/src/presentation/widget/insight/insightToTable.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/DefaultDashboardInsightWidget.tsx
Due: eslint --fix, prettier --write, gdc-fix-copyright

feat: test
  libs/sdk-ui-tests-e2e/cypress/support/featureHub.ts
  libs/sdk-ui-tests-e2e/cypress/tools/table.ts
Due: eslint --fix, prettier --write, gdc-fix-copyright
