Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: connect AI assistant into semantic search
  libs/sdk-ui-gen-ai/src/components/GenAIChatDialog.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: connect AI assistant into semantic search
  libs/sdk-ui-gen-ai/src/internal.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: connect AI assistant into semantic search
  libs/sdk-ui-semantic-search/src/internal/SearchOverlay.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update changelog
  common/changes/@gooddata/sdk-ui-all/imj-stl-1505_2025-07-08-07-38.json
Due: prettier --write

chore: Add translation comment validation into pre-commit hook
  libs/sdk-ui-dashboard/.i18nrc.cjs
  libs/sdk-ui-ext/.i18nrc.cjs
  libs/sdk-ui-gen-ai/.i18nrc.cjs
  libs/sdk-ui-semantic-search/.i18nrc.cjs
  libs/sdk-ui/.i18nrc.cjs
  tools/i18n-toolkit/.i18nrc.cjs
  tools/i18n-toolkit/README.md
  tools/i18n-toolkit/src/data.ts
  tools/i18n-toolkit/src/index.ts
  tools/i18n-toolkit/src/validate.ts
  tools/i18n-toolkit/src/validations/commentValidation.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: add aria hidden into icon
  libs/sdk-ui-semantic-search/src/utils/renderItemIcon.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: correct repeater height, remove min-height for flexible
  libs/sdk-ui-dashboard/src/presentation/presentationComponents/DashboardItems/DashboardItem.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboard.scss
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/constants.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTable/PivotTableDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/repeater/RepeaterDescriptor.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: repair too many datapoints error message
  libs/sdk-ui-charts/src/charts/_base/BaseChart.tsx
  libs/sdk-ui/api/sdk-ui.api.md
  libs/sdk-ui/src/base/react/legacy/withEntireDataView.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: AI assisted: Add translation comments and update existing
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-ext/src/internal/translations/en-US.json
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui-semantic-search/src/localization/bundles/en-US.json
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Due: prettier --write

chore: Flatten complex translation files within Rush build
  common/scripts/convertBundleToTypeScript.mjs
Due: none

fix: proper parent path comparison
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemToNewSectionHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: size containers to full row height to fix the last drop zone size
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1283-heigh-dropzone_2025-07-08-06-52.json
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/containerHeightSanitization.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: disable save button and fresh init
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/Attachments/AttachmentsList.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/Attachments/AttachmentsSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/Attachments/DashboardAttachments.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/Attachments/WidgetAttachments.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: consider also parent when evaluating minimal width of children
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/containerWidthSanitization.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/toggleLayoutDirectionHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: the additional information is missing DATASET on FACT
  libs/sdk-ui-gen-ai/src/components/completion/InfoComponent.tsx
  libs/sdk-ui-gen-ai/src/components/completion/utils.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: Bullet alignment when resizing widgets horizontally
  libs/sdk-ui-dashboard/.dependency-cruiser.cjs
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/LayoutResizeContext.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBarContainer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/BulletsBar.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/BulletsBar/Bullet.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/BulletsBar/BulletsBar.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/HeightResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/WidthResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/dragAndDrop/Resize/HeightResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/dragAndDrop/Resize/WidthResizerHotspot.tsx
  libs/sdk-ui-dashboard/styles/scss/resizing.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: input question field isn't auto-focused after re-opening.
  libs/sdk-ui-gen-ai/src/components/Input.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: handle empty container height
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/constants.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: fix HMR in templates
  tools/dashboard-plugin-template/webpack.config.cjs
  tools/react-app-template/webpack.config.cjs
Due: none

chore: fix plugin build
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-tests-e2e/package.json
  libs/sdk-ui-tests-e2e/scenarios/webpack.config.cjs
  libs/sdk-ui-web-components/package.json
  tools/app-toolkit/package.json
  tools/dashboard-plugin-template/package.json
  tools/dashboard-plugin-template/webpack.config.cjs
  tools/react-app-template/package.json
  tools/react-app-template/webpack.config.cjs
Due: prettier --write

fix: use correct item index
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/containerHeightSanitization.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update attribution file
  NOTICE
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx,scss}
