Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (ac94d3d)
  common/changes/@gooddata/sdk-ui-all/ine-1257-2_2025-07-30-10-58.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-model/src/execution/objectFactoryNotation/index.ts
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/DateTimePicker.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/EndDateInputField.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/StartDateInputField.tsx
  libs/sdk-ui-filters/styles/scss/main.scss
  libs/sdk-ui-kit/styles/icons/aggregated-fact.svg
  libs/sdk-ui-kit/styles/scss/SVGicons.scss
  libs/sdk-ui-vis-commons/src/legend/LegendItem.tsx
  libs/sdk-ui-vis-commons/src/legend/LegendList.tsx
  libs/sdk-ui-vis-commons/src/legend/LegendSeries.tsx
  libs/sdk-ui-vis-commons/src/legend/context.ts
  libs/sdk-ui-vis-commons/src/legend/test/LegendItem.test.tsx
  libs/sdk-ui-vis-commons/src/legend/test/LegendList.test.tsx
  libs/sdk-ui-vis-commons/src/legend/test/LegendSeries.test.tsx
  libs/sdk-ui-vis-commons/src/legend/visibilityDetection.ts
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update dependencies after rush update
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update Hugo version to 10.37
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/ine-1257-2_2025-07-30-10-58.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

fix: Adding to-date doc examples
  docs/content/en/latest/learn/visualize_data/Filter_visual_components.md
  docs/content/en/latest/references/filters/date_filter.md
Due: prettier --write

chore: update attribution file
  NOTICE
Due: none

chore: update dependencies after rush update
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

fix: update dependency @actions/github to v6.0.1
  .github/actions/git-check-release/package-lock.json
  .github/actions/hugo-update-param-action/package-lock.json
Due: prettier --write

chore: update ncipollo/release-action action to v1.18.0
  .github/workflows/rw-git-create-tag.yml
Due: none

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (3e90ba7)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/export/DefaultDashboardExportVariables.tsx
  libs/sdk-ui-dashboard/src/presentation/export/types.ts
  libs/sdk-ui-dashboard/src/presentation/export/useExportData.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiTreeview/UITreeviewItem.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/UiTreeview.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/defaults/DefaultUiTreeViewItemComponent.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/tests/UiTreeview.test.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/types.ts
  libs/sdk-ui-kit/src/@ui/UiTreeview/utils.ts
  libs/sdk-ui-semantic-search/src/internal/LeveledSearchTreeView.tsx
  libs/sdk-ui-semantic-search/src/internal/SearchItemDetails.tsx
  libs/sdk-ui-tests/README.md
  libs/sdk-ui-tests/stories/visual-regression/ui/UiTreeview.stories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update Hugo version to 10.38
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

fix: update ag-grid monorepo to v34.1.1
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-pivot/package.json
Due: prettier --write

chore: update dependency tsd to ^0.33.0
  libs/sdk-ui/package.json
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (a13c3cd)
  .github/actions/slack/send-notification/action.yml
  .github/workflows/check-approve.yml
  .github/workflows/doc-strorybook-deploy.yml
  .github/workflows/push-fossa-update-attribution-file.yml
  .github/workflows/push-prerelease.yml
  .github/workflows/release-bump-master-to-major.yml
  .github/workflows/release-release-minor.yml
  .github/workflows/rw-perform-release-patch.yml
  .github/workflows/rw-publish-documentation.yml
  .github/workflows/rw-publish-prerelease.yml
  .github/workflows/rw-publish-release.yml
  .github/workflows/rw-publish-version.yml
  .github/workflows/slack-post-merge-notification.yml
  .github/workflows/test-backstop.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/workspace/genAI/index.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/ColorPicker/ColorPicker.tsx
  libs/sdk-ui-kit/src/ColorPicker/components/ColorPickerMatrix.tsx
  libs/sdk-ui-kit/src/ColorPicker/components/ColorsPreview.tsx
  libs/sdk-ui-kit/src/ColorPicker/components/HexColorInput.tsx
  libs/sdk-ui-kit/src/ColorPicker/components/HueColorPicker.tsx
  libs/sdk-ui-kit/src/Overlay/ErrorOverlay.tsx
  libs/sdk-ui-kit/src/Overlay/tests/Overlay.test.tsx
  libs/sdk-ui-kit/src/TextAreaWithSubmit/TextAreaWithSubmit.tsx
  libs/sdk-ui-kit/src/Timepicker/Timepicker.tsx
  libs/sdk-ui-semantic-search/api/sdk-ui-semantic-search.api.md
  libs/sdk-ui-semantic-search/src/SemanticSearch.tsx
  libs/sdk-ui-semantic-search/src/hooks/tests/__snapshots__/useSemanticSearch.test.ts.snap
  libs/sdk-ui-semantic-search/src/hooks/tests/useSemanticSearch.test.ts
  libs/sdk-ui-semantic-search/src/hooks/useSemanticSearch.ts
  libs/sdk-ui-semantic-search/src/internal/SearchOverlay.tsx
  libs/sdk-ui-semantic-search/styles/scss/main.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
