Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, gdc-fix-copyright, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright, sort-package-json

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx}": ["eslint --fix", "prettier --write", "gdc-fix-copyright"],
    "./**/*.{json,md,yaml,html}": "prettier --write",
    "./**/*.{scss}": ["prettier --write", "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"],
    "./**/package.json": "sort-package-json",
}

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (0001a8b)
  .eslintrc.js
  .eslintrc.react.js
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-catalog/src/catalogDetail/hooks/useCatalogItemUpdate.ts
  libs/sdk-ui-charts/src/charts/_commons/truncate.ts
  libs/sdk-ui-charts/src/charts/comboChart/ComboChart.tsx
  libs/sdk-ui-charts/src/highcharts/adapter/plugins/adjustTickAmount.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/dataLabelsHelpers.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/getOptionalStackingConfiguration.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/layout.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/section.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/useResolveDashboardInsightProperties.ts
  libs/sdk-ui-ext/src/internal/utils/drillablePredicates.ts
  libs/sdk-ui-ext/src/internal/utils/removeUseless.ts
  libs/sdk-ui-loaders/src/dashboard/useDashboardLoader.ts
  libs/sdk-ui-loaders/src/dashboard/useDashboardLoaderWithPluginManipulation.ts
  libs/sdk-ui/src/base/react/placeholders/resolve.ts
  libs/sdk-ui/src/base/results/internal/dataAccessImpl.ts
  libs/sdk-ui/src/base/results/internal/resultDataMethods.ts
  libs/sdk-ui/src/kpi/Kpi.tsx
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: update dependencies after rush update
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (fab0f5a)
  .eslintrc.js
  .eslintrc.react.js
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-embedding/src/iframe/EmbeddedAnalyticalDesigner.ts
  libs/sdk-embedding/src/iframe/EmbeddedKpiDashboard.ts
  libs/sdk-embedding/src/iframe/common.ts
  libs/sdk-embedding/src/internal/filterConvertors.ts
  libs/sdk-ui-charts/src/charts/headline/internal/utils/ComparisonTransformationUtils.ts
  libs/sdk-ui-charts/src/charts/headline/internal/utils/HeadlineTransformationUtils.ts
  libs/sdk-ui-dashboard/src/model/queryServices/queryInsightDateDatasets.ts
  libs/sdk-ui-dashboard/src/model/queryServices/queryMeasureDateDatasets.ts
  libs/sdk-ui-dashboard/src/model/store/_infra/queryProcessing.ts
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingManagementDialog/DefaultAlertingManagementDialogNew.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailManagementDialog/DefaultScheduledEmailManagementDialog.tsx
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/automations/columns/useAutomationColumns.tsx
  libs/sdk-ui-ext/src/automations/data/useLoadAutomations.ts
  libs/sdk-ui-ext/src/automations/filters/useAutomationFilters.ts
  libs/sdk-ui-ext/src/automations/format.ts
  libs/sdk-ui-ext/src/automations/index.ts
  libs/sdk-ui-ext/src/automations/types.ts
  libs/sdk-ui-ext/src/automations/useAutomationService.ts
  libs/sdk-ui-ext/src/automations/useAutomationsState.ts
  libs/sdk-ui-ext/src/automations/utils.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/chartCodeGenUtils.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/geoChart/geoConfigCodeGenerator.ts
  libs/sdk-ui-ext/src/internal/utils/embeddingCodeGenerator/getReactEmbeddingCodeGenerator.ts
  libs/sdk-ui-ext/src/internal/utils/embeddingCodeGenerator/normalizeInsight.ts
  libs/sdk-ui-ext/src/internal/utils/propertiesHelper.ts
  libs/sdk-ui-ext/src/internal/utils/removeUseless.ts
  libs/sdk-ui-filters/src/DateFilter/NumericInput/NumericInput.tsx
  libs/sdk-ui-filters/src/DateFilter/utils/DateConversions.ts
  libs/sdk-ui-kit/src/Form/Input.tsx
  libs/sdk-ui-kit/src/ResponsiveText/ResponsiveText.tsx
  libs/sdk-ui-pivot/src/impl/drilling/tests/drilling.fixture.ts
  libs/sdk-ui-theme-provider/src/cssProperties.ts
  tools/dashboard-plugin-template/webpack.config.cjs
  tools/mock-handling/src/recordings/execution.ts
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: update Hugo version to 11.0
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-605-tags-filtering_2025-09-16-09-35.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-605-tags-filtering_2025-09-19-11-35.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-605-tags-filtering_2025-09-19-11-37.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-643-update-text_2025-09-15-11-28.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-653-filter-fixes-2_2025-09-11-12-42.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-653-filter-fixes_2025-09-11-08-09.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-654-responsive-fixes_2025-09-11-10-39.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-654-responsive-fixes_2025-09-11-10-47.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-658-measure-modified-at_2025-09-12-08-46.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-11-59.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-08-07-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-11-06-11.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-11-08-06.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-11-12-03.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-12-09-27.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-12-09-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-15-08-46.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-16-12-45.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-18-13-03.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1267-improve-AF-SV-accessibility_2025-09-16-13-53.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1502-saved-views-vo_2025-09-11-13-09.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1534-pattern-fill-tooltip-color_2025-09-17-14-47.json
  common/changes/@gooddata/sdk-ui-all/gdp-2927-centralized-automation-management-missing-columns_2025-09-16-14-51.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1231-2_2025-09-16-15-32.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1231_2025-09-15-15-03.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1504_2025-09-11-14-30.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1517_2025-09-12-12-50.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1535_2025-09-17-08-58.json
  common/changes/@gooddata/sdk-ui-all/memory-demo_2025-09-18-06-46.json
  common/changes/@gooddata/sdk-ui-all/mnaj-react-19_2025-09-15-10-31.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

docs: update supported versions
  docs/content/en/latest/architecture/architecture_overview/compatibility/_index.md
Due: prettier --write

chore: fix doc
  docs/content/en/latest/architecture/architecture_overview/compatibility/_index.md
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (6ad96dc)
  .eslintrc.js
  .eslintrc.react.js
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-ext/src/internal/utils/embeddingCodeGenerator/getReactEmbeddingCodeGenerator.ts
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/AttributeFilterElementsSelectItem.tsx
  libs/sdk-ui-filters/src/DateFilter/DateFilterBody/DateFilterCustomPeriodButtons.tsx
  libs/sdk-ui-filters/styles/scss/attributeFilterNext/attributeFilterElementsSelect.scss
  libs/sdk-ui-kit/src/List/InvertableSelect/InvertableSelectVirtualised.tsx
  libs/sdk-ui-tests/.storybook/polyfills.js
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Due: eslint --fix, prettier --write, gdc-fix-copyright

feat: add method to set format locale to settings services
  common/changes/@gooddata/sdk-ui-all/adpr-format-locale_2025-09-23-08-29.json
  libs/sdk-backend-base/api/sdk-backend-base.api.md
  libs/sdk-backend-base/src/cachingBackend/index.ts
  libs/sdk-backend-base/src/decoratedBackend/workspaceSettings.ts
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/organization/settings/index.ts
  libs/sdk-backend-spi/src/user/settings/index.ts
  libs/sdk-backend-spi/src/workspace/settings/index.ts
  libs/sdk-backend-tiger/src/backend/organization/settings.ts
  libs/sdk-backend-tiger/src/backend/settings/settings.ts
  libs/sdk-backend-tiger/src/backend/workspace/settings/index.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (8a12258)
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-25-05-13.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-catalog/src/filter/FilterTags.tsx
  libs/sdk-ui-catalog/styles/scss/detail.scss
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: update Hugo version to 11.1
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/F1-1721_2025-09-19-14-37.json
  common/changes/@gooddata/sdk-ui-all/F1-1841_2025-09-24-08-31.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-605-filter-by-tag-click_2025-09-22-08-53.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-690-full-text-search_2025-09-22-12-23.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-690-full-text-search_2025-09-22-12-35.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-700-show-total-count_2025-09-24-07-10.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-702-dataset_2025-09-24-10-40.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-702-dataset_2025-09-24-10-50.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-702-dataset_2025-09-24-10-53.json
  common/changes/@gooddata/sdk-ui-all/SHA_BUG_master_2025-09-23-13-10.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-11-59.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-08-07-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-24-12-52.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-25-05-13.json
  common/changes/@gooddata/sdk-ui-all/adpr-format-locale_2025-09-23-09-12.json
  common/changes/@gooddata/sdk-ui-all/gdp-2927-centralized-automation-management-a11y_2025-09-24-10-30.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1444_2025-09-24-12-53.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableBulletChart_2025-09-24-21-46.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableHidingOfDataPoints_2025-09-24-23-33.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enablePushpinGeoChart_2025-09-24-22-01.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableTableColumnsAutoResizing_2025-09-24-20-29.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableTableColumnsGrowToFit_2025-09-24-21-24.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableTableColumnsManualResizing_2025-09-24-21-41.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-enableWeekFilters_2025-09-24-22-17.json
  common/changes/@gooddata/sdk-ui-all/mnaj-remove-hideKpiDrillInEmbedded_2025-09-24-18-22.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write
