Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update attribution file
  NOTICE
Due: none

chore: update dependency @testing-library/react to v16.3.0
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
Due: prettier --write

fix: enableToDateFitlers feature flag
  libs/sdk-backend-tiger/src/backend/workspace/dateFilterConfigs/index.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/DateFilterConfigurationConverter.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/resolveDashboardConfig.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: add pluggable pivot table next
  libs/sdk-ui-ext/src/insightView/InsightRenderer.tsx
  libs/sdk-ui-ext/src/internal/components/BaseVisualization.tsx
  libs/sdk-ui-ext/src/internal/components/VisualizationCatalog.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PivotTableNextDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PluggablePivotTableNext.tsx
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/configHelpers.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/helpers.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/pivotTableNextConfigFromInsight.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/sortHelpers.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/totalsHelpers.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/widthItemsHelpers.ts
  libs/sdk-ui-ext/src/internal/constants/supportedProperties.ts
  libs/sdk-ui-ext/src/internal/utils/uiConfigHelpers/pivotTableNextUiConfigHelper.ts
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/constants/internal.ts
  libs/sdk-ui-pivot/src/next/drill/getAvailableDrillTargets.ts
  libs/sdk-ui-pivot/src/next/execution/getExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useInitExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useServerSideRowModel.ts
  libs/sdk-ui-pivot/src/next/index.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapSortModelToSortItems.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDataViewToAgGridRowData.test.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDimensionsToColDefs.test.ts
  libs/sdk-ui-pivot/src/next/types/public.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix(docs): fix type errors
  docs/content/en/latest/references/embed_semantic_search/_index.md
Due: prettier --write

fix(docs): enhance search query context in documentation example
  docs/content/en/latest/references/embed_semantic_search/_index.md
Due: prettier --write

fix: add missing stories
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiBadge_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiBadge_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiCheckbox_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiCheckbox_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiPagedVirtualList_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiPagedVirtualList_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiSkeleton_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiSkeleton_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiBadge.stories.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiCheckbox.stories.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiPagedVirtualList.stories.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiSkeleton.stories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: update localisations
  libs/sdk-ui/src/base/localization/bundles/de-DE.json
  libs/sdk-ui/src/base/localization/bundles/en-AU.json
  libs/sdk-ui/src/base/localization/bundles/en-GB.json
  libs/sdk-ui/src/base/localization/bundles/es-419.json
  libs/sdk-ui/src/base/localization/bundles/es-ES.json
  libs/sdk-ui/src/base/localization/bundles/fi-FI.json
  libs/sdk-ui/src/base/localization/bundles/fr-CA.json
  libs/sdk-ui/src/base/localization/bundles/fr-FR.json
  libs/sdk-ui/src/base/localization/bundles/it-IT.json
  libs/sdk-ui/src/base/localization/bundles/ja-JP.json
  libs/sdk-ui/src/base/localization/bundles/ko-KR.json
  libs/sdk-ui/src/base/localization/bundles/nl-NL.json
  libs/sdk-ui/src/base/localization/bundles/pl-PL.json
  libs/sdk-ui/src/base/localization/bundles/pt-BR.json
  libs/sdk-ui/src/base/localization/bundles/pt-PT.json
  libs/sdk-ui/src/base/localization/bundles/ru-RU.json
  libs/sdk-ui/src/base/localization/bundles/tr-TR.json
  libs/sdk-ui/src/base/localization/bundles/zh-HK.json
  libs/sdk-ui/src/base/localization/bundles/zh-Hans.json
  libs/sdk-ui/src/base/localization/bundles/zh-Hant.json
Due: prettier --write

fix: use proper resolved root dir when running from gdc-ui
  common/scripts/ci/run_boiler_app_integration_tests_with_live_backend.sh
Due: none

test: date filter config
  libs/sdk-backend-tiger/tests/integrated/dateFilterConfigs.test.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: update date filter config snapshot
  libs/sdk-backend-tiger/tests/integrated/__snapshots__/dateFilterConfigs.test.ts.snap
  libs/sdk-backend-tiger/tests/integrated/dateFilterConfigs.test.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: format json
  libs/sdk-backend-tiger/tests/integrated/__snapshots__/dateFilterConfigs.test.ts.snap
Due: none

test: update snapshot
  libs/sdk-backend-tiger/tests/integrated/__snapshots__/dateFilterConfigs.test.ts.snap
Due: none

fix: Refresh recordings in reference-workspace
  tools/reference-workspace/src/recordings/dataSample.ts
  tools/reference-workspace/src/recordings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: Test missing snapshot
  libs/sdk-ui-ext/src/internal/components/tests/__snapshots__/VisualizationCatalog.test.ts.snap
Due: none

fix: selection invalid reload only with apply all
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: introduce gdc-ui based tiger backend test
  libs/sdk-backend-tiger/docker-compose-isolated-gdcui.yaml
  libs/sdk-backend-tiger/docker-compose-isolated-record-gdcui.yaml
  libs/sdk-backend-tiger/scripts/isolated-test.sh
Due: prettier --write

fix: handle invalid selection on apply all
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
  libs/sdk-ui-filters/src/AttributeFilter/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update Hugo version to 10.35
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/ine-clear-fix_2025-07-18-11-58.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1196_2025-07-16-17-57.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-prop-cleanup_2025-07-16-09-47.json
  common/changes/@gooddata/sdk-ui-all/mnaj-stl-1571_2025-07-17-15-21.json
  common/changes/@gooddata/sdk-ui-all/ovel-threshold-metric-for-combo-chart_2025-07-17-06-48.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1345-aggregated-facts-api_2025-07-16-08-49.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

chore: update of dependency by renovate
  libs/sdk-backend-tiger/docker-compose-isolated-gdcui.yaml
  libs/sdk-backend-tiger/docker-compose-isolated-record-gdcui.yaml
  libs/sdk-backend-tiger/docker-compose-isolated-record.yaml
  libs/sdk-backend-tiger/docker-compose-isolated.yaml
  libs/sdk-ui-tests-e2e/Dockerfile
Due: prettier --write

Path conditions:
  prettier --write: any of: ./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx,scss}
