Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: introduce feature flags for ring deployment
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/index.ts
  libs/sdk-model/src/settings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: avoid creating invalid selectors
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
  libs/sdk-ui-kit/styles/scss/header.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: accessible name of smart search result
  libs/sdk-ui-semantic-search/src/SearchListItem.tsx
  libs/sdk-ui-semantic-search/src/utils/getAreaLabel.ts
  libs/sdk-ui-semantic-search/src/utils/renderItemIcon.tsx
  libs/sdk-ui-semantic-search/styles/scss/main.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Bump react-portal to latest
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-kit/package.json
Due: prettier --write

chore: update attribution file
  NOTICE
Due: none

chore: update dependency @testing-library/react to v16.3.0
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
Due: prettier --write

feat: accessibility audit of the chatbot
  libs/sdk-ui-gen-ai/src/components/EmptyState.tsx
  libs/sdk-ui-gen-ai/src/components/HeaderIcon.tsx
  libs/sdk-ui-kit/src/Button/Button.tsx
  libs/sdk-ui-kit/src/Icon/icons/ChatBubble.tsx
  libs/sdk-ui-kit/src/Icon/icons/Close.tsx
  libs/sdk-ui-kit/src/Icon/icons/Contract.tsx
  libs/sdk-ui-kit/src/Icon/icons/Expand.tsx
  libs/sdk-ui-kit/src/Icon/icons/NewVisualization.tsx
  libs/sdk-ui-kit/src/Icon/icons/Search.tsx
  libs/sdk-ui-kit/src/Icon/icons/Undo.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: Nested container DnD broken in Chrome
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/Hotspot.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: make container toolbar icon bigger
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/Toolbar.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: change nested containers' direction and width when moved
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/containerWidthSanitization.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemToNewSectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/rowContainerSanitization.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: use patched react-lines-ellipsis with 0.15.x version
  libs/sdk-ui-dashboard/src/presentation/presentationComponents/DashboardItems/DashboardItemHeadline.tsx
  libs/sdk-ui-ext/src/insightView/InsightTitle.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: introduce new box icon
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/icon.ts
  libs/sdk-ui-kit/src/@ui/UiIcon/icons.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: view user can se visualisation link
  libs/sdk-ui-gen-ai/src/components/messages/contents/CustomHyperlink.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Bump copy-to-clipboard to latest
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-kit/package.json
Due: prettier --write

fix: distinguish undefined and empty dashboard automation filters
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: Improve UiLink styles and container tooltip
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddDashboardLayoutWidgetButton.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-kit/src/@ui/UiLink/UiLink.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: operator and comparison are different from saved
  libs/sdk-ui-gen-ai/src/components/messages/contents/VisualizationContents.tsx
  libs/sdk-ui-gen-ai/src/store/sideEffects/onVisualizationSave.ts
  libs/sdk-ui-gen-ai/src/utils.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: remove tilde css imports
  common/changes/@gooddata/sdk-ui-all/pb-tilde-css-removal_2025-07-03-05-50.json
  examples/playground/vite.config.ts
  examples/sdk-interactive-examples/examples-template/vite.config.js
  examples/sdk-interactive-examples/examples/example-attributefilter/vite.config.js
  examples/sdk-interactive-examples/examples/example-chartconfig/vite.config.js
  examples/sdk-interactive-examples/examples/example-columnchart/vite.config.js
  examples/sdk-interactive-examples/examples/example-combochart/vite.config.js
  examples/sdk-interactive-examples/examples/example-dashboard/vite.config.js
  examples/sdk-interactive-examples/examples/example-datefilter/vite.config.js
  examples/sdk-interactive-examples/examples/example-dependentfilters/vite.config.js
  examples/sdk-interactive-examples/examples/example-execute/vite.config.js
  examples/sdk-interactive-examples/examples/example-granularity/vite.config.js
  examples/sdk-interactive-examples/examples/example-headline/vite.config.js
  examples/sdk-interactive-examples/examples/example-pivottable/vite.config.js
  examples/sdk-interactive-examples/examples/example-relativedatefilter/vite.config.js
  examples/sdk-interactive-examples/examples/example-repeater/vite.config.js
  libs/sdk-ui-dashboard/styles/scss/attributeFilterConfig.scss
  libs/sdk-ui-dashboard/styles/scss/dashboard.scss
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
  libs/sdk-ui-dashboard/styles/scss/drillConfigPanel.scss
  libs/sdk-ui-dashboard/styles/scss/icons.scss
  libs/sdk-ui-dashboard/styles/scss/notifications_channels_dialog.scss
  libs/sdk-ui-dashboard/styles/scss/poweredByGDLogo.scss
  libs/sdk-ui-dashboard/styles/scss/sidebar.scss
  libs/sdk-ui-ext/styles/internal/scss/attribute_hierarchies.scss
  libs/sdk-ui-ext/styles/internal/scss/config_panel.scss
  libs/sdk-ui-ext/styles/internal/scss/dropdown_icons.scss
  libs/sdk-ui-gen-ai/styles/scss/variables.scss
  libs/sdk-ui-kit/styles/scss/SVGicons.scss
  libs/sdk-ui-kit/styles/scss/chartSorting.scss
  libs/sdk-ui-kit/styles/scss/embedInsightDialog.scss
  libs/sdk-ui-kit/styles/scss/header.scss
  libs/sdk-ui-kit/styles/scss/indigoFont.scss
  libs/sdk-ui-kit/styles/scss/insightList.scss
  libs/sdk-ui-kit/styles/scss/loadingMask.scss
  libs/sdk-ui-web-components/src/gen-ai/components.css
  libs/sdk-ui-web-components/src/visualizations/components.css
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: update localisations
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/de-DE.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-AU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-GB.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-419.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-ES.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fi-FI.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-CA.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-FR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/it-IT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ja-JP.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ko-KR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/nl-NL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pl-PL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-BR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-PT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ru-RU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/tr-TR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-HK.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hans.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hant.json
  libs/sdk-ui-gen-ai/src/localization/bundles/de-DE.json
  libs/sdk-ui-gen-ai/src/localization/bundles/en-AU.json
  libs/sdk-ui-gen-ai/src/localization/bundles/en-GB.json
  libs/sdk-ui-gen-ai/src/localization/bundles/es-419.json
  libs/sdk-ui-gen-ai/src/localization/bundles/es-ES.json
  libs/sdk-ui-gen-ai/src/localization/bundles/fi-FI.json
  libs/sdk-ui-gen-ai/src/localization/bundles/fr-CA.json
  libs/sdk-ui-gen-ai/src/localization/bundles/fr-FR.json
  libs/sdk-ui-gen-ai/src/localization/bundles/it-IT.json
  libs/sdk-ui-gen-ai/src/localization/bundles/ja-JP.json
  libs/sdk-ui-gen-ai/src/localization/bundles/ko-KR.json
  libs/sdk-ui-gen-ai/src/localization/bundles/nl-NL.json
  libs/sdk-ui-gen-ai/src/localization/bundles/pl-PL.json
  libs/sdk-ui-gen-ai/src/localization/bundles/pt-BR.json
  libs/sdk-ui-gen-ai/src/localization/bundles/pt-PT.json
  libs/sdk-ui-gen-ai/src/localization/bundles/ru-RU.json
  libs/sdk-ui-gen-ai/src/localization/bundles/tr-TR.json
  libs/sdk-ui-gen-ai/src/localization/bundles/zh-HK.json
  libs/sdk-ui-gen-ai/src/localization/bundles/zh-Hans.json
  libs/sdk-ui-gen-ai/src/localization/bundles/zh-Hant.json
Due: prettier --write

feat: Replace react-helmet usages with custom implementation
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/src/DocumentHeader/DocumentHeader.tsx
  libs/sdk-ui-kit/src/DocumentHeader/tests/DocumentHeader.test.tsx
  libs/sdk-ui-kit/src/DocumentHeader/tests/__snapshots__/DocumentHeader.test.tsx.snap
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

Path conditions:
  prettier --write: any of: ./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx,scss}
