Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

fix: remove skip test
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/availableValueFilter.spec.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: do not fallback matching filters with automation id
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: ai assistant not read correctly by screen readers
  libs/sdk-ui-gen-ai/src/components/GenAIChatWrapper.tsx
  libs/sdk-ui-gen-ai/src/components/Input.tsx
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@utils/useKeyboardNavigationTarget.ts
  libs/sdk-ui-kit/src/@ui/UiNavigationBypass/UiNavigationBypass.scss
  libs/sdk-ui-kit/src/@ui/UiNavigationBypass/UiNavigationBypass.tsx
  libs/sdk-ui-kit/src/@ui/index.scss
  libs/sdk-ui-kit/src/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: Do not scroll dashboard to rich text on modifications
  libs/sdk-ui-dashboard/src/presentation/widget/richText/EditModeDashboardRichText.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: handle situation when item is moved before its original position
  libs/sdk-ui-dashboard/src/_staging/layout/coordinates.ts
  libs/sdk-ui-dashboard/src/_staging/layout/test/coordinates.test.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemToNewSectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/tests/moveSectionItemHandler.test.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: do not consider empty section as modified by plugin
  libs/sdk-ui-dashboard/src/model/store/ui/uiSelectors.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update Hugo version to 10.32
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

feat: Add an image to the container tooltip
  libs/sdk-ui-dashboard/src/assets/flexible-layouts-tooltip.gif
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddDashboardLayoutWidgetButton.tsx
  libs/sdk-ui-dashboard/styles/scss/sidebar.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: introduce an ability to switch container's direction
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/events/userInteraction.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/common/configuration/ConfigurationBubble.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/DashboardInsightEditMenuBubble.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/LayoutDirectionConfigurationDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/Toolbar.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/assets/HorizontalDirectionIcon.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/assets/VerticalDirectionIcon.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboardNestedLayoutToolbar.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/icon.ts
  libs/sdk-ui-kit/src/@ui/@utils/size.ts
  libs/sdk-ui-kit/src/@ui/UiDropdownIconButton/UiDropdownIconButton.tsx
  libs/sdk-ui-kit/src/@ui/UiIcon/icons.tsx
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButton.scss
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButton.tsx
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButtonRenderer.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/UiListbox.scss
  libs/sdk-ui-kit/src/@ui/UiListbox/UiListbox.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/defaults/DefaultUiListboxInteractiveItemComponent.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/types.ts
  libs/sdk-ui-kit/src/Bubble/Bubble.tsx
  libs/sdk-ui-kit/src/Overlay/Overlay.tsx
  libs/sdk-ui-kit/src/Overlay/typings.ts
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-kit/src/typings/accessibility.ts
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiDropdownIconButton_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiDropdownIconButton_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiIcon_-_full-featured_icon_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiIcon_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiListbox_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiListbox_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiDropdownIconButton.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiListbox.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: downgrade floating-ui for compatibility with react 16
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-kit/package.json
Due: prettier --write

fix: resize content when the column container width is changed
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/layoutConfiguration.ts
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/containerWidthSanitization.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/resizeWidthHandler.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutReducers.ts
  libs/sdk-ui-dashboard/src/model/types/layoutTypes.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/useItemWidthValidation.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: ai assistant not read correctly by screen readers
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@utils/tests/keyboardNavigationTarget.test.tsx
  libs/sdk-ui-kit/src/@ui/UiNavigationBypass/UiNavigationBypass.tsx
  libs/sdk-ui-kit/src/@ui/UiNavigationBypass/tests/UiNavigationBypass.test.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiNavigationBypass.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: replace dependency npm-run-all with npm-run-all2 ^5.0.0
  libs/sdk-ui-tests-e2e/package.json
Due: prettier --write

chore: update dependency @vercel/ncc to v0.38.3
  .github/actions/git-check-release/package-lock.json
  .github/actions/hugo-update-param-action/package-lock.json
Due: prettier --write

Revert "feat: Add an image to the container tooltip"
  libs/sdk-ui-dashboard/src/assets/flexible-layouts-tooltip.gif
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddDashboardLayoutWidgetButton.tsx
  libs/sdk-ui-dashboard/styles/scss/sidebar.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: update container content upon the container's direction change
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/containerWidthSanitization.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/toggleLayoutDirectionHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Add an image to the container tooltip
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-dashboard/src/assets/flexible-layouts-tooltip.gif
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddDashboardLayoutWidgetButton.tsx
  libs/sdk-ui-dashboard/styles/scss/sidebar.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: remove enableDashboardFiltersApplyWithoutLoading FF
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
  libs/sdk-ui-filters/src/AttributeFilter/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: display the Azure LLM endpoint in the list
  libs/sdk-backend-tiger/src/backend/organization/llmEndpoints.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/llmEndpointConvertor.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/llmEndpoints/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
