Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

fix: wrong type of dataset date object in chat references
  libs/sdk-ui-gen-ai/api/sdk-ui-gen-ai.api.md
  libs/sdk-ui-gen-ai/src/components/completion/plugins/rehype-references.ts
  libs/sdk-ui-gen-ai/src/components/completion/utils.ts
  libs/sdk-ui-gen-ai/src/model.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: translations fixes
  libs/sdk-ui-ext/src/internal/translations/pl-PL.json
  libs/sdk-ui-ext/src/internal/translations/tr-TR.json
  libs/sdk-ui/src/base/localization/bundles/pl-PL.json
Due: prettier --write

feat: UiTooltip component
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/src/@ui/@types/variant.ts
  libs/sdk-ui-kit/src/@ui/UiButton/UiButton.scss
  libs/sdk-ui-kit/src/@ui/UiButton/UiButton.tsx
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltip.scss
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltip.tsx
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltipAnchor.tsx
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltipContent.tsx
  libs/sdk-ui-kit/src/@ui/UiTooltip/constants.ts
  libs/sdk-ui-kit/src/@ui/UiTooltip/types.ts
  libs/sdk-ui-kit/src/@ui/UiTooltip/utils.ts
  libs/sdk-ui-kit/src/@ui/index.scss
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiTooltip_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiTooltip_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiTooltip.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/assets.d.ts
  libs/sdk-ui-tests/stories/visual-regression/ui/assets/tooltip-image.png
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update Hugo version to 10.31
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

chore: fix approve bear
  .github/workflows/check-approve.yml
  .github/workflows/gate.yaml
Due: prettier --write

chore: fix test-once command
  libs/sdk-backend-tiger/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-gen-ai/package.json
  tools/dashboard-plugin-template/package.json
Due: prettier --write

feat: coin counter
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/context/CoinContext/CoinContext.tsx
  libs/sdk-ui-ext/src/context/CoinContext/index.ts
  libs/sdk-ui-ext/src/context/CoinContext/types.ts
  libs/sdk-ui-ext/src/index.ts
  libs/sdk-ui-gen-ai/api/sdk-ui-gen-ai.api.md
  libs/sdk-ui-gen-ai/src/components/DefaultFeedbackAnimation.tsx
  libs/sdk-ui-gen-ai/src/components/GenAIChatDialog.tsx
  libs/sdk-ui-gen-ai/src/components/GenAIChatOverlay.tsx
  libs/sdk-ui-gen-ai/src/components/GenAIChatWrapper.tsx
  libs/sdk-ui-gen-ai/src/components/Messages.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AssistantMessage.tsx
  libs/sdk-ui-gen-ai/src/index.ts
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui-gen-ai/styles/scss/messages.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/CoinCounter/CoinCounter.tsx
  libs/sdk-ui-kit/src/CoinCounter/index.ts
  libs/sdk-ui-kit/src/Header/Header.tsx
  libs/sdk-ui-kit/src/Header/typings.ts
  libs/sdk-ui-kit/src/Icon/Icon.tsx
  libs/sdk-ui-kit/src/Icon/icons/Coin.tsx
  libs/sdk-ui-kit/src/Icon/icons/Merch.tsx
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-kit/styles/scss/coinCounter.scss
  libs/sdk-ui-kit/styles/scss/main.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: styling fixes
  libs/sdk-ui-gen-ai/src/components/DefaultFeedbackAnimation.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AssistantMessage.tsx
  libs/sdk-ui-kit/src/CoinCounter/CoinCounter.tsx
  libs/sdk-ui-kit/styles/scss/coinCounter.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: add coin sound
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-gen-ai/scripts/build.sh
  libs/sdk-ui-gen-ai/src/components/DefaultFeedbackAnimation.tsx
  libs/sdk-ui-gen-ai/src/components/coins.wav
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: Transparent background for nested layout containers
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/ViewModeEmptyNestedLayout.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboard.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat(sdk-ui-filters): distinguish classes for close and cancel btns
  libs/sdk-ui-filters/src/AttributeFilter/Components/Dropdown/AttributeFilterDropdownActions.tsx
  libs/sdk-ui-filters/src/DateFilter/DateFilterBody/DateFilterBody.tsx
  libs/sdk-ui-filters/styles/scss/attributeFilterNext/attributeFilterDropdownActions.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: do not use classnames in UiListBox component
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/components/AlertComparisonOperatorSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/components/AlertComparisonPeriodSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/components/AlertDestinationSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/components/AlertMeasureSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/components/AlertTriggerModeSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/DestinationSelect/DestinationSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/VisualizationSwitcherNavigationHeader.tsx
  libs/sdk-ui-kit/src/RecurrenceForm/RepeatTypeSelect.tsx
  libs/sdk-ui-kit/src/Timepicker/Timepicker.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: do not use classnames in UiMenu component
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/components/AlertAttributeSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/InsightDrillDialog/DrillDialogExportDropdown.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: remove classnames props from UIListBox component
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiListbox/UiListbox.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/tests/UiListbox.test.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: remove classnames props from UiListBox interface
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiListbox/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: ui components validation
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/scripts/validateUiComponents.js
  libs/sdk-ui-kit/tsconfig.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: autocomplete is not working in UI SDK.
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  docs/config/_default/config.toml
  docs/content/en/latest/CodeMirror6_GenAI_Integration.md
  examples/playground/vite.config.ts
  tools/react-app-template/package.json
  tools/react-app-template/src/index.tsx
  tools/react-app-template/webpack.config.cjs
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Remove delete confirmation from various widgets
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/de-DE.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-AU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-GB.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-419.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-ES.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fi-FI.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-CA.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-FR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/it-IT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ja-JP.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ko-KR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/nl-NL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pl-PL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-BR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-PT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/tr-TR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-HK.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hans.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hant.json
  libs/sdk-ui-dashboard/src/presentation/widget/richText/useEditableRichTextMenu.ts
  libs/sdk-ui-dashboard/src/presentation/widget/richTextMenu/DefaultDashboardRichTextMenu/getDefaultRichTextEditMenuItems.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/EditableDashboardNestedLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/EditableDashboardVisualizationSwitcherWidget.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update attribution file
  NOTICE
Due: none

fix: correct display when visited by keyboard
  libs/sdk-ui-dashboard/styles/scss/dashboard.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: distinguish widget state by s-class
  libs/sdk-ui-dashboard/src/presentation/widget/showAsTableButton/DefaultShowAsTableButton/ShowAsTableButton.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: unify react version with gdc-ui
  common/config/rush/pnpm-lock.yaml
  examples/playground/package.json
  examples/sdk-interactive-examples/examples-template/package.json
  examples/sdk-interactive-examples/examples/example-attributefilter/package.json
  examples/sdk-interactive-examples/examples/example-chartconfig/package.json
  examples/sdk-interactive-examples/examples/example-columnchart/package.json
  examples/sdk-interactive-examples/examples/example-combochart/package.json
  examples/sdk-interactive-examples/examples/example-dashboard/package.json
  examples/sdk-interactive-examples/examples/example-datefilter/package.json
  examples/sdk-interactive-examples/examples/example-dependentfilters/package.json
  examples/sdk-interactive-examples/examples/example-execute/package.json
  examples/sdk-interactive-examples/examples/example-granularity/package.json
  examples/sdk-interactive-examples/examples/example-headline/package.json
  examples/sdk-interactive-examples/examples/example-pivottable/package.json
  examples/sdk-interactive-examples/examples/example-relativedatefilter/package.json
  examples/sdk-interactive-examples/examples/example-repeater/package.json
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-dashboard/src/presentation/presentationComponents/DashboardItems/DashboardItem.tsx
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/src/Bubble/withBubble.tsx
  libs/sdk-ui-loaders/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests-e2e/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui-web-components/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
  tools/dashboard-plugin-template/package.json
  tools/react-app-template/package.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
