Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

chore: update of dependency by renovate
  libs/sdk-backend-tiger/docker-compose-isolated-gdcui.yaml
  libs/sdk-backend-tiger/docker-compose-isolated-record-gdcui.yaml
  libs/sdk-backend-tiger/docker-compose-isolated-record.yaml
  libs/sdk-backend-tiger/docker-compose-isolated.yaml
  libs/sdk-ui-tests-e2e/docker-compose-isolated-gdcui.yaml
  libs/sdk-ui-tests-e2e/docker-compose-isolated.yaml
Due: prettier --write

fix: automations state management, debounce, UiIcon background
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/automations/Automations.scss
  libs/sdk-ui-ext/src/automations/Automations.tsx
  libs/sdk-ui-ext/src/automations/AutomationsCore.tsx
  libs/sdk-ui-ext/src/automations/columns/AutomationIcon.tsx
  libs/sdk-ui-ext/src/automations/constants.ts
  libs/sdk-ui-ext/src/automations/index.ts
  libs/sdk-ui-ext/src/automations/types.ts
  libs/sdk-ui-ext/styles/scss/main.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/background.ts
  libs/sdk-ui-kit/src/@ui/UiIcon/UiIcon.scss
  libs/sdk-ui-kit/src/@ui/UiIcon/UiIcon.tsx
  libs/sdk-ui-kit/src/@ui/UiIcon/UiIconBackground.tsx
  libs/sdk-ui-kit/src/@ui/UiIcon/iconBackgroundBem.ts
  libs/sdk-ui-kit/src/@ui/defaultTheme.scss
  libs/sdk-ui-kit/src/Table/AsyncTable/AsyncTableFilter.tsx
  libs/sdk-ui-kit/src/Table/AsyncTable/AsyncTableRow.tsx
  libs/sdk-ui-kit/src/Table/AsyncTable/AsyncTableToolbar.tsx
  libs/sdk-ui-kit/src/Table/AsyncTable/WithConditionalAnchor.tsx
  libs/sdk-ui-kit/src/Table/useAsyncTableSearch.ts
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-kit/src/utils/tests/debounce.test.ts
  libs/sdk-ui-kit/styles/scss/asyncTable.scss
  libs/sdk-ui-kit/styles/scss/variables.scss
  libs/sdk-ui-semantic-search/src/SemanticSearch.tsx
  libs/sdk-ui-semantic-search/src/internal/SearchOverlay.tsx
  libs/sdk-ui-theme-provider/src/variablesSpec/internal/icon.ts
  libs/sdk-ui/api/sdk-ui.api.md
  libs/sdk-ui/src/base/index.tsx
  libs/sdk-ui/src/base/react/debounce.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: common date filter all time consistent
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextUtils.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: add pivot table drilling capability
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PluggablePivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/context/TableMetadataContext.tsx
  libs/sdk-ui-pivot/src/next/dataSource/createServerSideDataSource.ts
  libs/sdk-ui-pivot/src/next/drill/headerMapping.ts
  libs/sdk-ui-pivot/src/next/drill/intersection.ts
  libs/sdk-ui-pivot/src/next/drill/isDrillable.ts
  libs/sdk-ui-pivot/src/next/hooks/useDrilling.ts
  libs/sdk-ui-pivot/src/next/hooks/useServerSideRowModel.ts
  libs/sdk-ui-pivot/src/next/hooks/useSorting.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDataViewToAgGridRowData.ts
  libs/sdk-ui-pivot/src/next/types/public.ts
  libs/sdk-ui-tests/scenarios/pivotTableNext/drilling.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/index.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/transposition.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: temporary test data removal
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDataViewToAgGridRowData.test.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: refresh execution recordings for stories
  libs/sdk-ui-ext/src/internal/components/tests/__snapshots__/VisualizationCatalog.test.ts.snap
  tools/reference-workspace/src/recordings/dataSample.ts
  tools/reference-workspace/src/recordings/index.ts
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/dataView_o0_0s100_1000.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/executionResult.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.ad4925a03d3f66342afde53553e56c09/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.b4d6d9d8e367e241eb24e4c378fb4348/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/insights.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: move asyncTable to @ui
  libs/sdk-ui-ext/src/automations/AutomationsCore.tsx
  libs/sdk-ui-ext/src/automations/columns/useAutomationColumns.tsx
  libs/sdk-ui-ext/src/automations/filters/useAutomationFilters.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/AsyncTableFilter.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/AsyncTableRow.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/AsyncTableToolbar.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/SkeletonItemFactory.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTable.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableBulkActions.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableCheckbox.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableDropdownItem.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableEmptyState.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableFilter.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableHeader.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableRow.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableToolbar.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/WithConditionalAnchor.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/constants.ts
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/utils.ts
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTableTitle/UiAsyncTableTitle.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/asyncTable.scss
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/asyncTableBem.ts
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/locales.ts
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/types.ts
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/useAsyncTableSearch.ts
  libs/sdk-ui-kit/src/@ui/UiIcon/UiIcon.scss
  libs/sdk-ui-kit/src/@ui/index.scss
  libs/sdk-ui-kit/src/@ui/themeColorsMap.scss
  libs/sdk-ui-kit/src/Table/AsyncTable/AsyncTableDropdownItem.tsx
  libs/sdk-ui-kit/src/Table/index.ts
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-kit/styles/scss/main.scss
  libs/sdk-ui-kit/styles/scss/variables.scss
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiAsyncTable_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiAsyncTable_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiIcon_-_full-featured_icon_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiIcon_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiAsyncTable.stories.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiIcon.stories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: pluggable table next scenarios
  libs/sdk-ui-tests/scenarios/pivotTableNext/base.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/drilling.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/sorting.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/totals.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/transposition.tsx
  libs/sdk-ui-tests/stories/visual-regression/visualizations/insightStories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Replace usage of redux connect with hooks
  libs/sdk-ui-gen-ai/src/components/EmptyState.tsx
  libs/sdk-ui-gen-ai/src/components/GenAIChatOverlay.tsx
  libs/sdk-ui-gen-ai/src/components/GenAIChatWrapper.tsx
  libs/sdk-ui-gen-ai/src/components/Input.tsx
  libs/sdk-ui-gen-ai/src/components/Messages.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AssistantMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/VisualizationContents.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/VisualizationSaveDialog.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

temp
  libs/sdk-backend-base/src/dummyBackend/DummySemanticSearch.ts
  libs/sdk-ui-geo/src/core/geoChart/legends/test/PushpinCategoryLegend.test.tsx
  libs/sdk-ui-kit/src/Menu/ControlledMenu.tsx
  libs/sdk-ui-kit/src/Menu/Menu.tsx
  libs/sdk-ui-kit/src/Menu/MenuState.tsx
  libs/sdk-ui-pivot/src/impl/structure/headers/AggregationsMenu.tsx
  libs/sdk-ui-pivot/src/impl/structure/headers/tests/AggregationsMenu.test.tsx
  libs/sdk-ui-semantic-search/src/tests/SemantiSearch.test.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: add merge blocking worflow
  .github/workflows/check.yaml
  .github/workflows/rw-block-merge.yaml
Due: prettier --write

chore: try to stabilise story extractor
  libs/sdk-ui-tests/backstop/story-extractor.test.ts
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-tests/stories/_infra/toBackstop.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Modern alternative to withIntl(ForTest)
  libs/sdk-ui/src/base/index.tsx
  libs/sdk-ui/src/base/localization/intlUtils.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Update react to v19, and other deps
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  examples/playground/package.json
  examples/sdk-interactive-examples/examples-template/package.json
  examples/sdk-interactive-examples/examples/example-attributefilter/package.json
  examples/sdk-interactive-examples/examples/example-chartconfig/package.json
  examples/sdk-interactive-examples/examples/example-columnchart/package.json
  examples/sdk-interactive-examples/examples/example-combochart/package.json
  examples/sdk-interactive-examples/examples/example-dashboard/package.json
  examples/sdk-interactive-examples/examples/example-datefilter/package.json
  examples/sdk-interactive-examples/examples/example-dependentfilters/package.json
  examples/sdk-interactive-examples/examples/example-execute/package.json
  examples/sdk-interactive-examples/examples/example-granularity/package.json
  examples/sdk-interactive-examples/examples/example-headline/package.json
  examples/sdk-interactive-examples/examples/example-pivottable/package.json
  examples/sdk-interactive-examples/examples/example-relativedatefilter/package.json
  examples/sdk-interactive-examples/examples/example-repeater/package.json
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-loaders/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests-e2e/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui-web-components/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
  tools/dashboard-plugin-template/package.json
  tools/react-app-template/package.json
Due: prettier --write

feat: Upgrade tsd to latest
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui/package.json
Due: prettier --write

chore: update testing-library monorepo
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
Due: prettier --write

fix: Various unit tests
  libs/sdk-backend-mockingbird/src/recordedBackend/tests/elementsUtils.test.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/afm/tests/DimensionsConverter.test.ts
  libs/sdk-ui-filters/src/AttributeFilter/Components/DropdownButton/tests/AttributeFilterButtonErrorTooltip.test.tsx
  libs/sdk-ui-filters/src/DateFilter/ExcludeCurrentPeriodToggle/tests/ExcludeCurrentPeriodToggle.test.tsx
  libs/sdk-ui-filters/src/DateFilter/RelativeDateFilterForm/tests/GranularityTabs.test.tsx
  libs/sdk-ui-filters/src/DateFilter/RelativeDateFilterForm/tests/RelativeDateFilterForm.test.tsx
  libs/sdk-ui-filters/src/DateFilter/Select/SelectMenu.tsx
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/src/Bubble/Bubble.tsx
  libs/sdk-ui-kit/src/ColorPicker/tests/ColorPicker.test.tsx
  libs/sdk-ui-kit/src/Datepicker/tests/Datepicker.test.tsx
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/test/AddGranteeSelect.test.tsx
  libs/sdk-ui-kit/src/DocumentHeader/tests/__snapshots__/DocumentHeader.test.tsx.snap
  libs/sdk-ui-kit/src/FilterLabel/tests/FilterLabel.test.tsx
  libs/sdk-ui-kit/src/Header/tests/HeaderMenu.test.tsx
  libs/sdk-ui-kit/src/measureNumberFormat/customFormatDialog/shared/tests/FormattedPreview.test.tsx
  libs/sdk-ui-kit/vitest.config.ts
  libs/sdk-ui-kit/vitest.setup.ts
  libs/sdk-ui-vis-commons/src/legend/test/Legend.test.tsx
  libs/sdk-ui-vis-commons/src/legend/test/LegendAxisIndicator.test.tsx
  libs/sdk-ui-vis-commons/src/legend/test/PopUpLegend.test.tsx
  libs/sdk-ui-vis-commons/src/legend/test/StaticLegend.test.tsx
  libs/sdk-ui/src/base/localization/intlUtils.tsx
  tools/i18n-toolkit/src/validations/test/htmlSyntax.test.ts
  tools/i18n-toolkit/src/validations/test/messageFormat.test.ts
  tools/i18n-toolkit/src/validations/test/structure.test.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update attribution file
  NOTICE
Due: none

chore: Use vite instead of vitest for story manipulation
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-tests/.storybook/main.js
  libs/sdk-ui-tests/backstop/story-extractor.test.ts
  libs/sdk-ui-tests/backstop/story-extractor.ts
  libs/sdk-ui-tests/backstop/story-generator.test.ts
  libs/sdk-ui-tests/backstop/story-generator.ts
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-tests/stories/_infra/toBackstop.ts
  libs/sdk-ui-tests/vite.config.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: pluggable pivot table next drilling
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PluggablePivotTableNext.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: basic cell drill styling
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/context/TableMetadataContext.tsx
  libs/sdk-ui-pivot/src/next/dataSource/createServerSideDataSource.ts
  libs/sdk-ui-pivot/src/next/drill/intersection.ts
  libs/sdk-ui-pivot/src/next/drill/isDrillable.ts
  libs/sdk-ui-pivot/src/next/hooks/useDrilling.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDimensionsToColDefs.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/__snapshots__/mapDimensionsToColDefs.test.ts.snap
  libs/sdk-ui-pivot/src/next/styling/cell.ts
  libs/sdk-ui-pivot/styles/scss/main.scss
  libs/sdk-ui-pivot/styles/scss/pivotTableNext.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: add prop after mistakenly removed
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: display 500 selected items warning
  libs/sdk-ui-filters/src/AttributeFilter/Components/Dropdown/AttributeFilterDropdown.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/StatusBar/AttributeFilterStatusBar.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

🚀 updated gooddata theme
  docs/assets/scss/menu.scss
  docs/go.mod
  docs/go.sum
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
