Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: adding missing visual components to doc
  docs/content/en/latest/references/visual_components/pyramid_chart.md
  docs/content/en/latest/references/visual_components/waterfall_chart.md
Due: prettier --write

fix: updating link to release notes in doc
  docs/content/en/latest/Release_notes.md
Due: prettier --write

chore: replace dependency npm-run-all with npm-run-all2 ^5.0.0
  libs/sdk-ui-tests-e2e/package.json
Due: prettier --write

chore: update dependency @vercel/ncc to v0.38.3
  .github/actions/git-check-release/package-lock.json
  .github/actions/hugo-update-param-action/package-lock.json
Due: prettier --write

chore: ui components validation
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/scripts/validateUiComponents.js
  libs/sdk-ui-kit/tsconfig.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: removing supported browsers from doc
  docs/content/en/latest/architecture/architecture_overview/compatibility/_index.md
Due: prettier --write

feat: async table a11y, keyboard nav
  libs/sdk-ui-kit/src/Table/AsyncTable.tsx
  libs/sdk-ui-kit/src/Table/AsyncTableHeader.tsx
  libs/sdk-ui-kit/src/Table/AsyncTableRow.tsx
  libs/sdk-ui-kit/styles/scss/asyncTable.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: AsyncTable multi-line support
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/size.ts
  libs/sdk-ui-kit/src/@ui/@utils/size.ts
  libs/sdk-ui-kit/src/@ui/UiCheckbox/UiCheckbox.tsx
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButton.scss
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButtonRenderer.tsx
  libs/sdk-ui-kit/src/@ui/UiSkeleton/UiSkeleton.tsx
  libs/sdk-ui-kit/src/@ui/defaultTheme.scss
  libs/sdk-ui-kit/src/Table/AsyncTable.tsx
  libs/sdk-ui-kit/src/Table/AsyncTableHeader.tsx
  libs/sdk-ui-kit/src/Table/AsyncTableRow.tsx
  libs/sdk-ui-kit/src/Table/constants.ts
  libs/sdk-ui-kit/src/Table/types.ts
  libs/sdk-ui-kit/src/Table/utils.ts
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-kit/styles/scss/asyncTable.scss
  libs/sdk-ui-theme-provider/src/variablesSpec/internal/button.ts
  libs/sdk-ui-theme-provider/src/variablesSpec/internal/table.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: introduce and use a new feature flag for flexible layouts
  common/changes/@gooddata/sdk-ui-all/pdo-rename-flexible-layout-ff_2025-07-14-07-37.json
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/DashboardSidebar/CreationPanel.tsx
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/DraggableRichTextCreatePanelItem.tsx
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/DraggableVisualizationSwitcherCreatePanelItem.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutUtils.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultFlexibleDashboardLayout.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/useInsightPositionStyle.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/BigChartDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/baseChart/BaseChartDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTable/PivotTableDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/repeater/RepeaterDescriptor.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: bubble takes whole div width
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/limitValues/dialog/WithDisabledParentFilterTooltip.tsx
  libs/sdk-ui-dashboard/styles/scss/attributeFilterConfig.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: make filter bar status message accessible
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBarContainer.tsx
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/variant.ts
  libs/sdk-ui-kit/src/@ui/UiButton/UiButton.scss
  libs/sdk-ui-kit/src/@ui/UiButton/UiButton.tsx
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiButton_-_full-featured_button_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiButton_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiButton.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update Hugo version to 10.34
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/ine-lx-1328_2025-07-11-10-48.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1251-allow-resize-of-row-container_2025-07-10-13-14.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1251-allow-resize-of-row-container_2025-07-10-13-19.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1251-allow-resize-of-row-container_2025-07-10-14-22.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1330-ff_2025-07-11-10-27.json
  common/changes/@gooddata/sdk-ui-all/pdo-rename-flexible-layout-ff_2025-07-14-07-37.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

fix: automation widget or dashboard title
  libs/sdk-backend-tiger/src/convertors/fromBackend/AutomationConverter.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/ExportDefinitionsConverter.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailManagementDialog/components/ScheduledEmail.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: prepare for monorepo sync
  common/scripts/ci/run_cypress_isolated_tests.sh
  common/scripts/ci/run_cypress_recording.sh
  libs/sdk-ui-tests-e2e/docker-compose-isolated-gdcui.yaml
  libs/sdk-ui-tests-e2e/scripts/lib/cypress.js
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update of dependency by renovate
  libs/sdk-backend-tiger/docker-compose-isolated-record.yaml
  libs/sdk-backend-tiger/docker-compose-isolated.yaml
  libs/sdk-ui-tests-e2e/docker-compose-isolated-gdcui.yaml
  libs/sdk-ui-tests-e2e/docker-compose-isolated.yaml
Due: prettier --write

feat: add rush json template for sync
  sdk.rush.json
Due: prettier --write

chore: add nas publish commands
  libs/sdk-ui-web-components/Dockerfile_nas
  libs/sdk-ui-web-components/package.json
Due: prettier --write

fix: shrink row container children during the resize but never expand
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/resizeWidthHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: read validation items from updated controller state
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/Components/Dropdown/AttributeFilterDropdownBody.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/AttributeFilterElementsSelect.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/AttributeFilterVirtualisedElementsSelect.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/types.ts
  libs/sdk-ui-filters/src/AttributeFilter/hooks/types.ts
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterControllerData.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: pivot table
  common/config/rush/browser-approved-packages.json
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/components/ErrorComponent.tsx
  libs/sdk-ui-pivot/src/next/components/LoadingComponent.tsx
  libs/sdk-ui-pivot/src/next/constants/agGrid.tsx
  libs/sdk-ui-pivot/src/next/constants/internal.ts
  libs/sdk-ui-pivot/src/next/dataSource/createServerSideDataSource.ts
  libs/sdk-ui-pivot/src/next/execution/getExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useInitExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useServerSideRowModel.ts
  libs/sdk-ui-pivot/src/next/index.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDataViewToAgGridRowData.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDimensionsToColDefs.ts
  libs/sdk-ui-pivot/src/next/mapProps/props.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/__snapshots__/mapDataViewToAgGridRowData.test.ts.snap
  libs/sdk-ui-pivot/src/next/mapProps/tests/__snapshots__/mapDimensionsToColDefs.test.ts.snap
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDataViewToAgGridRowData.test.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDimensionsToColDefs.test.ts
  libs/sdk-ui-pivot/src/next/types/internal.ts
  libs/sdk-ui-pivot/src/next/types/public.ts
  libs/sdk-ui-tests/scenarios/index.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/base.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/index.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/transposition.tsx
  libs/sdk-ui-tests/src/scenarioGroup.tsx
  libs/sdk-ui/api/sdk-ui.api.md
  libs/sdk-ui/src/base/index.tsx
  libs/sdk-ui/src/base/results/dataAccess.ts
  libs/sdk-ui/src/base/results/internal/dataAccessMethods.ts
  libs/sdk-ui/src/base/results/internal/dataViewToData2D.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: new storybook recordings
  libs/sdk-ui-tests/tests/_infra/insightFactory.ts
  tools/reference-workspace/src/recordings/dataSample.ts
  tools/reference-workspace/src/recordings/index.ts
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/011bb466183f681c9f893a2dfb4fabe6/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/011bb466183f681c9f893a2dfb4fabe6/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/dataView_o0_0s100_1000.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/executionResult.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/6232816c7b900a6704d8d793f068904e/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/6232816c7b900a6704d8d793f068904e/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/6ad17cce441c93f0c1f6c5cfffb7d7af/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/6ad17cce441c93f0c1f6c5cfffb7d7af/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/9bbaf756a6a44325dc1a9315de17d0fb/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/ea3ba97511ee18ece1e428c4b694abc2/dataView_all.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f0f3531ca2fc34fe4c4a5c962c8f488a/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f0f3531ca2fc34fe4c4a5c962c8f488a/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f304c0180efbca32eeccaa096410dc8f/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f5008c073c235b861044fc2ec3f4b0bc/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f5008c073c235b861044fc2ec3f4b0bc/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.024009c936ed73ce9f78c31f9610922c/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.03402d49a1a4ee909a0f839253891d15/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.1fc9a36652046d654165c3ca9681e728/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.44314abb3279a4ec38e0c622e0496112/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.460f35ddd6bfbc6d32f6aa28bf70c343/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/insights.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: add sorting functionality to new pivot table
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/constants/agGrid.tsx
  libs/sdk-ui-pivot/src/next/constants/internal.ts
  libs/sdk-ui-pivot/src/next/dataSource/createServerSideDataSource.ts
  libs/sdk-ui-pivot/src/next/execution/getExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useInitExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useServerSideRowModel.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDataViewToAgGridRowData.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDimensionsToColDefs.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapSortModelToSortItems.ts
  libs/sdk-ui-pivot/src/next/mapProps/props.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDataViewToAgGridRowData.test.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDimensionsToColDefs.test.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapSortItems.test.ts
  libs/sdk-ui-pivot/src/next/types/public.ts
  libs/sdk-ui-tests/scenarios/pivotTableNext/index.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/sorting.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: dont submit on enter when filter apply all
  libs/sdk-ui-filters/src/DateFilter/AbsoluteDateFilterForm/AbsoluteDateFilterForm.tsx
  libs/sdk-ui-filters/src/DateFilter/AbsoluteDateFilterForm/AbsoluteDateFilterFormSection.tsx
  libs/sdk-ui-filters/src/DateFilter/DateFilterBody/DateFilterBody.tsx
  libs/sdk-ui-filters/src/DateFilter/DateFilterBody/DateFilterBodyContent.tsx
  libs/sdk-ui-filters/src/DateFilter/DateFilterBody/DateFilterBodyMobileContent.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/DateInput.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/DateRangePicker.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/DateTimePicker.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/StartDateInputField.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/TimeInput.tsx
  libs/sdk-ui-filters/src/DateFilter/DateRangePicker/types.ts
  libs/sdk-ui-filters/src/DateFilter/RelativeDateFilterForm/RelativeDateFilterFormSection.tsx
  libs/sdk-ui-filters/src/DateFilter/accessibility/keyboardNavigation.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

Path conditions:
  prettier --write: any of: ./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx,scss}
