Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

fix: add anchor to a Column container documentation link
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1251-allow-resize-of-row-container_2025-07-10-13-14.json
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddDashboardLayoutWidgetButton.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: render row end hotspot only when a widget is dragged
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1251-allow-resize-of-row-container_2025-07-10-13-19.json
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/RowEndHotspot.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: calculate min/max only when needed
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/WidthResizerHotspot.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: remove isColumn condition when resizing nested containers
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/resizeWidthHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: make widget resizing compatible with latest container behavior
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/containerWidthSanitization.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/toggleLayoutDirectionHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: width resizer thickness
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1251-allow-resize-of-row-container_2025-07-10-14-22.json
  libs/sdk-ui-dashboard/styles/scss/resizing.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: removing supported browsers from doc
  docs/content/en/latest/architecture/architecture_overview/compatibility/_index.md
Due: prettier --write

fix: updating link to release notes in doc
  docs/content/en/latest/Release_notes.md
Due: prettier --write

feat: add sorting functionality to new pivot table
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/constants/agGrid.tsx
  libs/sdk-ui-pivot/src/next/constants/internal.ts
  libs/sdk-ui-pivot/src/next/dataSource/createServerSideDataSource.ts
  libs/sdk-ui-pivot/src/next/execution/getExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useInitExecution.ts
  libs/sdk-ui-pivot/src/next/hooks/useServerSideRowModel.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDataViewToAgGridRowData.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapDimensionsToColDefs.ts
  libs/sdk-ui-pivot/src/next/mapProps/mapSortModelToSortItems.ts
  libs/sdk-ui-pivot/src/next/mapProps/props.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDataViewToAgGridRowData.test.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapDimensionsToColDefs.test.ts
  libs/sdk-ui-pivot/src/next/mapProps/tests/mapSortItems.test.ts
  libs/sdk-ui-pivot/src/next/types/public.ts
  libs/sdk-ui-tests/scenarios/pivotTableNext/index.tsx
  libs/sdk-ui-tests/scenarios/pivotTableNext/sorting.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

test: new storybook recordings
  libs/sdk-ui-tests/tests/_infra/insightFactory.ts
  tools/reference-workspace/src/recordings/dataSample.ts
  tools/reference-workspace/src/recordings/index.ts
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/011bb466183f681c9f893a2dfb4fabe6/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/011bb466183f681c9f893a2dfb4fabe6/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/dataView_o0_0s100_1000.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/executionResult.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/300c0b908199156a328388972230be9a/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/6232816c7b900a6704d8d793f068904e/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/6232816c7b900a6704d8d793f068904e/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/6ad17cce441c93f0c1f6c5cfffb7d7af/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/6ad17cce441c93f0c1f6c5cfffb7d7af/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/9bbaf756a6a44325dc1a9315de17d0fb/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/ea3ba97511ee18ece1e428c4b694abc2/dataView_all.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f0f3531ca2fc34fe4c4a5c962c8f488a/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f0f3531ca2fc34fe4c4a5c962c8f488a/requests.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f304c0180efbca32eeccaa096410dc8f/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f5008c073c235b861044fc2ec3f4b0bc/definition.json
  tools/reference-workspace/src/recordings/uiTestScenarios/executions/f5008c073c235b861044fc2ec3f4b0bc/scenarios.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.024009c936ed73ce9f78c31f9610922c/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.03402d49a1a4ee909a0f839253891d15/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.1fc9a36652046d654165c3ca9681e728/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.44314abb3279a4ec38e0c622e0496112/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/PivotTableNext.460f35ddd6bfbc6d32f6aa28bf70c343/obj.json
  tools/reference-workspace/src/recordings/uiTestScenarios/insights/insights.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: automation filters
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/exports/index.ts
  libs/sdk-ui-dashboard/src/_staging/automation/index.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useSaveScheduledEmailToBackend.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: introduce organization identity provider type
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/organization/index.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/organization/index.ts
  libs/sdk-model/src/settings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: update attribute data-testId for adhoc viz
  libs/sdk-ui-gen-ai/src/components/messages/contents/VisualizationContents.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: introduce a new feature flag for pre-aggregated facts
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1330-ff_2025-07-11-10-27.json
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: attr. filter display item count once loaded
  libs/sdk-ui-filters/src/AttributeFilter/Components/DropdownButton/AttributeFilterDropdownButton.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: remove obsolete UiMenu props
  common/changes/@gooddata/sdk-ui-all/ine-lx-1328_2025-07-11-10-48.json
  libs/sdk-ui-dashboard/src/presentation/drill/DrillSelect/DrillSelectDropdown.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/index.tsx
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiMenu/UiMenu.scss
  libs/sdk-ui-kit/src/@ui/UiMenu/UiMenu.tsx
  libs/sdk-ui-kit/src/@ui/UiMenu/hooks.tsx
  libs/sdk-ui-kit/src/@ui/UiMenu/tests/UiMenu.test.tsx
  libs/sdk-ui-kit/src/@ui/UiMenu/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: aria attributes in Input, DropdownButton
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButtonRenderer.tsx
  libs/sdk-ui-kit/src/Dropdown/Dropdown.tsx
  libs/sdk-ui-kit/src/Form/InputPure.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: remove unused styles and fix insight menu in edit mode
  libs/sdk-ui-dashboard/styles/scss/insightConfiguration.scss
  libs/sdk-ui-kit/src/@ui/UiMenu/UiMenu.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update of dependency by renovate
  libs/sdk-backend-tiger/docker-compose-isolated-record.yaml
  libs/sdk-backend-tiger/docker-compose-isolated.yaml
  libs/sdk-ui-tests-e2e/docker-compose-isolated.yaml
Due: prettier --write

chore: update of dependency by renovate
  libs/sdk-ui-tests/docker-compose-backstop.yaml
  libs/sdk-ui-web-components/Dockerfile
Due: prettier --write

chore: update of dependency by renovate
  libs/sdk-ui-tests-e2e/Dockerfile
  libs/sdk-ui-tests-e2e/Dockerfile_local
Due: none

feat: Update @types/node, replace chokidar with watchpack
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-loaders/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-tests-e2e/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui-web-components/package.json
  libs/sdk-ui/package.json
  tools/app-toolkit/package.json
  tools/applink/README.md
  tools/applink/package.json
  tools/applink/src/devConsole/pipeline/changeDetector.ts
  tools/catalog-export/package.json
  tools/dashboard-plugin-template/package.json
  tools/i18n-toolkit/package.json
  tools/mock-handling/package.json
  tools/plugin-toolkit/package.json
  tools/reference-workspace-mgmt/package.json
  tools/reference-workspace/package.json
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: shareable link aria attributes, implicit role
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/ShareLink.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
