Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, gdc-fix-copyright, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright, sort-package-json

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (b969910)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update dependencies after rush update
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update Hugo version to 10.43
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/F1-1754_2025-09-10-08-10.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-609-lock_2025-09-04-11-57.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-609-lock_2025-09-04-13-07.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-609-sort_2025-09-04-07-01.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-650-object-type-counter_2025-09-09-11-04.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-04-13-17.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-07-27.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-10-35.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-11-58.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-11-59.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-08-07-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-08-11-43.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-09-08-57.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-09-11-51.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-09-13-07.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-10-07-31.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-10-08-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-10-11-09.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1444-attribute-filter_2025-09-10-07-17.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1488-fix-blinking-charts_2025-09-08-10-55.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1443_2025-09-04-06-46.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1448-2_2025-09-08-15-19.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1448_2025-09-04-09-38.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1486_2025-09-04-12-59.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1492_2025-09-09-14-13.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1493_2025-09-10-09-05.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1495_2025-09-09-07-19.json
  common/changes/@gooddata/sdk-ui-all/nen-lx-1497_2025-09-09-09-32.json
  common/changes/@gooddata/sdk-ui-all/pb-fix-double-exec-pie_2025-09-08-12-35.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1262-chart-fill-fixes_2025-09-05-08-15.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1262-chart-fill-fixes_2025-09-05-10-52.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1262-chart-fill-fixes_2025-09-05-14-30.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1262-chart-fill-fixes_2025-09-08-09-01.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (c7de561)
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-643-update-text_2025-09-15-11-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-15-08-46.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-catalog/src/localization/bundles/en-US.json
  libs/sdk-ui-catalog/styles/scss/main.scss
  libs/sdk-ui-ext/src/automations/AutomationsCore.tsx
  libs/sdk-ui-ext/src/automations/columns/AutomationIcon.tsx
  libs/sdk-ui-ext/src/automations/columns/useAutomationColumns.tsx
  libs/sdk-ui-ext/src/automations/constants.ts
  libs/sdk-ui-ext/src/automations/useAutomationsState.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/drillDownUtil.ts
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableCheckbox.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableHeader.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/UiAsyncTableRow.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/WithConditionalAnchor.tsx
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/UiAsyncTable/utils.ts
  libs/sdk-ui-kit/src/@ui/UiAsyncTable/asyncTable.scss
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/constants/agGridDefaultProps.tsx
  libs/sdk-ui-pivot/src/next/features/textWrapping/agGridTextWrappingOptions.ts
  libs/sdk-ui-pivot/styles/scss/pivotTableNext.scss
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (d6f5315)
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1267-improve-AF-SV-accessibility_2025-09-16-13-53.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/CustomDropdownActions.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/filterViews/FilterViewsList.tsx
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/AttributeFilterElementsSelectItem.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/ElementsSelect/AttributeFilterElementsSelectItemTooltip.tsx
  libs/sdk-ui-filters/styles/scss/attributeFilterNext/attributeFilterElementsSelect.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltip.tsx
  libs/sdk-ui-kit/src/@ui/hooks/useListWithActionsKeyboardNavigation.ts
  libs/sdk-ui-kit/src/List/InvertableSelect/InvertableSelectVirtualised.tsx
  libs/sdk-ui-kit/src/typings/accessibility.ts
  libs/sdk-ui/.i18nrc.cjs
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (4055cf9)
  common/changes/@gooddata/sdk-ui-all/memory-demo_2025-09-18-06-46.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/api-client-tiger/src/genAI.ts
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/index.ts
  libs/sdk-backend-spi/src/workspace/genAI/index.ts
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-backend-tiger/src/backend/workspace/genAI/MemoryService.ts
  libs/sdk-backend-tiger/src/backend/workspace/genAI/index.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/genAI/memory.ts
  libs/sdk-model/src/index.ts
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-catalog/api/sdk-ui-catalog.api.md
  libs/sdk-ui-catalog/src/AnalyticsCatalog.tsx
  libs/sdk-ui-catalog/src/catalog/Catalog.tsx
  libs/sdk-ui-catalog/src/catalog/tests/Catalog.test.tsx
  libs/sdk-ui-catalog/src/header/Header.tsx
  libs/sdk-ui-catalog/src/localization/bundles/en-US.json
  libs/sdk-ui-catalog/src/memory/MemoryMain.tsx
  libs/sdk-ui-catalog/src/memory/tests/MemoryMain.test.tsx
  libs/sdk-ui-catalog/src/permission/TestPermissionsProvider.tsx
  libs/sdk-ui-catalog/src/permission/types.ts
  libs/sdk-ui-catalog/src/permission/usePermissionsQuery.ts
  libs/sdk-ui-catalog/styles/scss/main.scss
  libs/sdk-ui-ext/src/automations/columns/useAutomationColumns.tsx
  libs/sdk-ui-ext/src/automations/utils.ts
  libs/sdk-ui-kit/src/syntaxHighlightingInput/hooks/useCodemirror.ts
Due: eslint --fix, prettier --write, gdc-fix-copyright

fix
  .github/workflows/prerelease-alpha.yml
Due: none

Path conditions:
  eslint --fix: any of: ./**/*.{ts,js,tsx,jsx}
  prettier --write: ((any of: ./**/*.{ts,js,tsx,jsx}) or (any of: ./**/*.{json,md,yaml,html})) or (any of: ./**/*.{scss})
  gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{scss}
  sort-package-json: any of: ./**/package.json
