Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: align boiler app test to work also in gdc-ui
  .github/workflows/checklist-run-boiler-app.yaml
  common/scripts/ci/run_boiler_app_integration_tests_with_live_backend.sh
  libs/sdk-ui-tests-e2e/scripts/run_boiler_app.sh
Due: prettier --write

feat: Convert mock-handling codegen output to ESM
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-tests/scenarios/charts/barChart/coloring.tsx
  libs/sdk-ui-tests/scenarios/charts/columnChart/coloring.tsx
  tools/mock-handling/package.json
  tools/mock-handling/src/codegen/catalog.ts
  tools/mock-handling/src/codegen/dashboard.ts
  tools/mock-handling/src/codegen/dataSample.ts
  tools/mock-handling/src/codegen/displayForm.ts
  tools/mock-handling/src/codegen/execution.ts
  tools/mock-handling/src/codegen/index.ts
  tools/mock-handling/src/codegen/insight.ts
  tools/mock-handling/src/codegen/visClasses.ts
  tools/reference-workspace/src/recordings/dataSample.ts
  tools/reference-workspace/src/recordings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: multiple AF fixes + validity propagation
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/types.ts
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/Components/Dropdown/AttributeFilterDropdown.tsx
  libs/sdk-ui-filters/src/AttributeFilter/hooks/types.ts
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
  libs/sdk-ui-filters/src/AttributeFilter/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: handle invalid filter selection in Dashboard
  common/changes/@gooddata/sdk-ui-all/ine-clear-fix_2025-07-18-11-58.json
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/attributeFilter/changeAttributeFilterSelectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commands/filters.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextReducers.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextState.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBar.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBarContainer.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update attribution file
  NOTICE
Due: none

more broken
  .github/actions/git-check-release/package-lock.json
  .github/actions/hugo-update-param-action/package-lock.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-backend-base/package.json
  libs/sdk-backend-mockingbird/package.json
  libs/sdk-backend-tiger/package.json
  libs/sdk-backend-tiger/src/convertors/fromBackend/analyticalDashboards/v2/tests/AnalyticalDashboardConverter.test.ts
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-filters/styles/scss/components/DateRangePicker.scss
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/src/Datepicker/Datepicker.tsx
  libs/sdk-ui-kit/src/Datepicker/tests/Datepicker.test.tsx
  libs/sdk-ui-kit/src/Dropdown/DropdownList.tsx
  libs/sdk-ui-kit/src/Dropdown/tests/DropdownList.test.tsx
  libs/sdk-ui-kit/src/Header/HeaderMenu.tsx
  libs/sdk-ui-kit/src/Header/tests/HeaderAccount.test.tsx
  libs/sdk-ui-kit/src/Header/tests/HeaderMenu.test.tsx
  libs/sdk-ui-kit/src/List/List.tsx
  libs/sdk-ui-kit/src/Overlay/Overlay.tsx
  libs/sdk-ui-kit/styles/scss/datepicker.scss
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-tests-e2e/cypress/tools/dateFilterAbsoluteForm.ts
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/src/ThemeProvider/tests/ThemeProvider.test.tsx
  libs/sdk-ui/package.json
  libs/sdk-ui/src/kpi/tests/Kpi.test.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Update react to v19, and other deps
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  examples/playground/package.json
  examples/sdk-interactive-examples/examples-template/package.json
  examples/sdk-interactive-examples/examples/example-attributefilter/package.json
  examples/sdk-interactive-examples/examples/example-chartconfig/package.json
  examples/sdk-interactive-examples/examples/example-columnchart/package.json
  examples/sdk-interactive-examples/examples/example-combochart/package.json
  examples/sdk-interactive-examples/examples/example-dashboard/package.json
  examples/sdk-interactive-examples/examples/example-datefilter/package.json
  examples/sdk-interactive-examples/examples/example-dependentfilters/package.json
  examples/sdk-interactive-examples/examples/example-execute/package.json
  examples/sdk-interactive-examples/examples/example-granularity/package.json
  examples/sdk-interactive-examples/examples/example-headline/package.json
  examples/sdk-interactive-examples/examples/example-pivottable/package.json
  examples/sdk-interactive-examples/examples/example-relativedatefilter/package.json
  examples/sdk-interactive-examples/examples/example-repeater/package.json
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-loaders/package.json
  libs/sdk-ui-pivot/package.json
  libs/sdk-ui-semantic-search/package.json
  libs/sdk-ui-tests-e2e/package.json
  libs/sdk-ui-tests/package.json
  libs/sdk-ui-theme-provider/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui-web-components/package.json
  libs/sdk-ui/package.json
  skel/sdk-skel-tsx/package.json
  tools/dashboard-plugin-template/package.json
  tools/react-app-template/package.json
Due: prettier --write

fix: adding missing visual components to doc
  docs/content/en/latest/references/visual_components/pyramid_chart.md
  docs/content/en/latest/references/visual_components/waterfall_chart.md
Due: prettier --write

fix: documenting missing attribute filter props
  docs/content/en/latest/references/filters/attribute_filter_button_component.md
Due: prettier --write

fix: bad import from @storybook/addon-actions
  libs/sdk-ui-tests/stories/visual-regression/ui/UiListbox.stories.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiTreeview.stories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: update storybook actions imports
  libs/sdk-ui-tests/stories/visual-regression/ui/UiListbox.stories.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiTreeview.stories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: adding missing visual components to doc, v2
  docs/content/en/latest/references/visual_components/_index.md
Due: prettier --write

fix: Various unit tests
  common/config/rush/pnpm-lock.yaml
  libs/sdk-backend-mockingbird/src/recordedBackend/tests/elementsUtils.test.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/afm/tests/DimensionsConverter.test.ts
  libs/sdk-ui-filters/src/AttributeFilter/Components/DropdownButton/tests/AttributeFilterButtonErrorTooltip.test.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/DropdownButton/tests/AttributeFilterDropdownButton.test.tsx
  libs/sdk-ui-filters/src/DateFilter/ExcludeCurrentPeriodToggle/tests/ExcludeCurrentPeriodToggle.test.tsx
  libs/sdk-ui-filters/src/DateFilter/RelativeDateFilterForm/tests/GranularityTabs.test.tsx
  libs/sdk-ui-filters/src/DateFilter/RelativeDateFilterForm/tests/RelativeDateFilterForm.test.tsx
  libs/sdk-ui-filters/src/DateFilter/Select/SelectMenu.tsx
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/src/Bubble/Bubble.tsx
  libs/sdk-ui-kit/src/ColorPicker/tests/ColorPicker.test.tsx
  libs/sdk-ui-kit/src/Datepicker/Datepicker.tsx
  libs/sdk-ui-kit/src/Datepicker/tests/Datepicker.test.tsx
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/test/AddGranteeSelect.test.tsx
  libs/sdk-ui-kit/src/DocumentHeader/tests/__snapshots__/DocumentHeader.test.tsx.snap
  libs/sdk-ui-kit/src/FilterLabel/tests/FilterLabel.test.tsx
  libs/sdk-ui-kit/src/Header/tests/HeaderMenu.test.tsx
  libs/sdk-ui-kit/src/Tabs/tests/Tabs.test.tsx
  libs/sdk-ui-kit/src/measureNumberFormat/customFormatDialog/shared/tests/FormattedPreview.test.tsx
  libs/sdk-ui-kit/src/utils/tests/dateTimeConfig.test.ts
  libs/sdk-ui-kit/vite.config.ts
  libs/sdk-ui-kit/vite.setup.ts
  libs/sdk-ui-vis-commons/src/legend/test/Legend.test.tsx
  libs/sdk-ui-vis-commons/src/legend/test/LegendAxisIndicator.test.tsx
  libs/sdk-ui-vis-commons/src/legend/test/PopUpLegend.test.tsx
  libs/sdk-ui-vis-commons/src/legend/test/StaticLegend.test.tsx
  libs/sdk-ui-vis-commons/vitest.config.ts
  libs/sdk-ui/src/base/localization/intlUtils.tsx
  tools/i18n-toolkit/src/validations/test/htmlSyntax.test.ts
  tools/i18n-toolkit/src/validations/test/insightToReport.test.ts
  tools/i18n-toolkit/src/validations/test/messageFormat.test.ts
  tools/i18n-toolkit/src/validations/test/structure.test.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

black magic
  libs/sdk-ui-filters/src/AttributeFilter/Components/DropdownButton/tests/AttributeFilterButtonErrorTooltip.test.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/DropdownButton/tests/AttributeFilterDropdownButton.test.tsx
  libs/sdk-ui-filters/src/DateFilter/DateFilterBody/tests/DateFilterBody.test.tsx
  libs/sdk-ui-filters/src/DateFilter/DateFilterButton/tests/DateFilterButton.test.tsx
  libs/sdk-ui-filters/src/DateFilter/ExcludeCurrentPeriodToggle/tests/ExcludeCurrentPeriodToggle.test.tsx
  libs/sdk-ui-filters/src/DateFilter/tests/DateFilter.test.tsx
  libs/sdk-ui-filters/src/MeasureValueFilter/tests/MeasureValueFilterDropdown.test.tsx
  libs/sdk-ui-filters/src/RankingFilter/tests/RankingFilter.test.tsx
  libs/sdk-ui-filters/src/RankingFilter/tests/RankingFilterDropdown.test.tsx
  libs/sdk-ui-filters/src/shared/components/internal/tests/FilterbuttonCustomIcon.test.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: sdk-ui-kit errors
  libs/sdk-ui-kit/src/@ui/UiTreeview/UiTreeview.scss
  libs/sdk-ui-kit/src/@ui/UiTreeview/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: support to date filters in AD
  libs/sdk-backend-tiger/src/backend/workspace/attributes/elements/dependentDateFilters.ts
  libs/sdk-ui-ext/src/internal/interfaces/Visualization.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: traverse correct date filter configs for export info
  libs/sdk-ui-dashboard/src/_staging/sharedHooks/useFiltersNamings.ts
  libs/sdk-ui-dashboard/src/presentation/export/hooks/useDashboardRelatedFilters.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: documenting missing attribute filter props v2
  docs/content/en/latest/references/filters/attribute_filter.md
Due: prettier --write

chore: remove enableProductionFeaturesRollout ff
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: allow attr. filter reload when apply all
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat(sdk-ui-semantic-search): introduce results grouping
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/genAI/common.ts
  libs/sdk-model/src/genAI/semanticSearch.ts
  libs/sdk-model/src/index.ts
  libs/sdk-ui-semantic-search/api/sdk-ui-semantic-search.api.md
  libs/sdk-ui-semantic-search/src/ResultsItem.tsx
  libs/sdk-ui-semantic-search/src/SearchListItem.tsx
  libs/sdk-ui-semantic-search/src/SearchResultsDropdownList.tsx
  libs/sdk-ui-semantic-search/src/SemanticSearch.tsx
  libs/sdk-ui-semantic-search/src/hooks/index.ts
  libs/sdk-ui-semantic-search/src/hooks/useListScroll.ts
  libs/sdk-ui-semantic-search/src/hooks/useListSelector.ts
  libs/sdk-ui-semantic-search/src/hooks/useSearchMetrics.ts
  libs/sdk-ui-semantic-search/src/internal/AnnotatedResultsItem.tsx
  libs/sdk-ui-semantic-search/src/internal/HistoryItem.tsx
  libs/sdk-ui-semantic-search/src/internal/SearchList.tsx
  libs/sdk-ui-semantic-search/src/internal/SearchOverlay.tsx
  libs/sdk-ui-semantic-search/src/internal/UpdateDate.tsx
  libs/sdk-ui-semantic-search/src/localization/bundles/en-US.json
  libs/sdk-ui-semantic-search/src/types.ts
  libs/sdk-ui-semantic-search/src/utils/getAreaLabel.ts
  libs/sdk-ui-semantic-search/src/utils/renderDetails.tsx
  libs/sdk-ui-semantic-search/src/utils/renderItemIcon.tsx
  libs/sdk-ui-semantic-search/src/utils/renderLock.tsx
  libs/sdk-ui-semantic-search/src/utils/search.ts
  libs/sdk-ui-semantic-search/styles/scss/main.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

Path conditions:
  prettier --write: any of: ./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx,scss}
