Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, gdc-fix-copyright, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright, sort-package-json

chore: update dependencies after rush update
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (7c43b90)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update Hugo version to 11.5
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

feat: add changelog changes
  common/changes/@gooddata/sdk-ui-all/IMJ-test-app_2025-10-02-07-03.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-752-quality-2_2025-10-14-09-08.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-752-quality-2_2025-10-14-09-17.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-752-quality-2_2025-10-15-08-38.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-752-quality-2_2025-10-15-08-50.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-752-style-fixes_2025-10-14-12-59.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-769-trigger_2025-10-16-14-57.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-769-trigger_2025-10-16-14-59.json
  common/changes/@gooddata/sdk-ui-all/JSVA-GDAI-769-trigger_2025-10-16-15-11.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-11-59.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-08-07-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-06-09-27.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-14-11-33.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-15-13-29.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-15-22-07.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-16-08-25.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-16-13-44.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_bug_2025-10-14-08-44.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1579-drill-filter-focus_2025-10-10-10-11.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1596-drill-menu-tooltips-z-index_2025-10-14-09-02.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1615_2025-10-15-13-17.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1271-mobile-overflow_2025-10-13-13-09.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1591-rich-text_2025-10-14-11-47.json
  common/changes/@gooddata/sdk-ui-all/pdo-lx-1613-ldm-date_2025-10-14-14-22.json
  libs/sdk-ui-all/CHANGELOG.json
  libs/sdk-ui-all/CHANGELOG.md
Due: prettier --write

chore: test
  libs/sdk-ui-dashboard/README.md
Due: prettier --write

chore: test
  common/config/rush/command-line.json
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (3ec1563)
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-05-11-59.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-09-08-07-28.json
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-06-09-27.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/exportDashboardToPDF.spec.ts
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/pivotTableHasTotalAndSubtotalsOnDashboard.spec.ts
  libs/sdk-ui-tests-e2e/cypress/tools/export.ts
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (2655ac9)
  common/changes/@gooddata/sdk-ui-all/SHA_master_2025-10-17-10-45.json
  common/changes/@gooddata/sdk-ui-all/c.jma-LX-1601-insight-focusing_2025-10-16-09-37.json
  common/changes/@gooddata/sdk-ui-all/ine-lx-1621_2025-10-16-12-46.json
  common/changes/@gooddata/sdk-ui-all/jsc-f_1_2025-10-17-08-01.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-charts/src/highcharts/adapter/Chart.tsx
  libs/sdk-ui-charts/src/highcharts/adapter/highcharts.d.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/commonConfiguration.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/customConfiguration.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/drilldownEventing.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/setupDrilldownToParentAttribute.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/test/drilldownEventing.test.tsx
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/_staging/drills/drillingUtils.ts
  libs/sdk-ui-dashboard/src/model/store/widgetDrills/widgetDrillSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/constants/zIndex.ts
  libs/sdk-ui-dashboard/src/presentation/drill/DrillSelect/DrillSelectDropdown.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillSelect/WithDrillSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillSelect/types.ts
  libs/sdk-ui-dashboard/src/presentation/drill/hooks/useDrillSelectDropdownMenuItems.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/index.ts
  libs/sdk-ui-dashboard/src/presentation/drill/utils/kdaUtils.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/DashboardInsightWithDrillDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/Insight/DashboardInsight.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/Insight/DashboardInsightWithDrillSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/InsightDrillDialog/InsightDrillDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/types.ts
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/insightView/InsightRenderer.tsx
  libs/sdk-ui-pivot/src/next/components/Header/MeasureGroupHeader.tsx
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/exportDashboardToPDF.spec.ts
  libs/sdk-ui/api/sdk-ui.api.md
  libs/sdk-ui/src/base/index.tsx
  libs/sdk-ui/src/base/vis/DrillEvents.ts
  libs/sdk-ui/src/base/vis/HighchartsEvents.ts
Due: eslint --fix, prettier --write, gdc-fix-copyright

chore: rename vault url to vault.intgdc.com
  .github/workflows/checklist-cypress-ui-test.yaml
  .github/workflows/checklist-run-boiler-app.yaml
  .github/workflows/push-webcomponents-deploy.yml
Due: prettier --write

chore: update Hugo version to 11.6
  docs/config/public/params.toml
  docs/layouts/index.redir
Due: none

Path conditions:
  eslint --fix: any of: ./**/*.{ts,js,tsx,jsx}
  prettier --write: ((any of: ./**/*.{ts,js,tsx,jsx}) or (any of: ./**/*.{json,md,yaml,html})) or (any of: ./**/*.{scss})
  gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{scss}
  sort-package-json: any of: ./**/package.json
