Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (4964c9e)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: update dependencies after rush update
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (5022ff3)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/icon.ts
  libs/sdk-ui-kit/src/@ui/UiIcon/icons.tsx
  libs/sdk-ui-semantic-search/src/FooterButtonAiAssistant.tsx
  libs/sdk-ui-semantic-search/styles/scss/main.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update dependencies after rush update
  common/config/rush/browser-approved-packages.json
Due: prettier --write

chore: update attribution file
  NOTICE
Due: none

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (460eeaf)
  .github/workflows/rw-block-merge.yaml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (592ed23)
  .github/workflows/push-prerelease.yml
  .github/workflows/rw-publish-prerelease.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (d5da765)
  .github/workflows/push-prerelease.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTableNext/PluggablePivotTableNext.tsx
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/icon.ts
  libs/sdk-ui-kit/src/@ui/UiIcon/icons.tsx
  libs/sdk-ui-pivot/src/next/PivotTableNext.tsx
  libs/sdk-ui-pivot/src/next/components/Header/HeaderCellWithMenu.tsx
  libs/sdk-ui-pivot/src/next/components/Header/HeaderMenu.tsx
  libs/sdk-ui-pivot/src/next/components/Header/HeaderMenuComponents.tsx
  libs/sdk-ui-pivot/src/next/components/Header/MeasureGroupHeaderCell.tsx
  libs/sdk-ui-pivot/src/next/components/Header/MeasureHeaderCell.tsx
  libs/sdk-ui-pivot/src/next/components/Header/PivotGroupHeaderCell.tsx
  libs/sdk-ui-pivot/src/next/components/Header/constructAggregationsMenuItems.ts
  libs/sdk-ui-pivot/src/next/components/Header/useHeaderMenu.ts
  libs/sdk-ui-pivot/src/next/components/Header/utils.ts
  libs/sdk-ui-pivot/src/next/constants/agGridDefaultProps.tsx
  libs/sdk-ui-pivot/src/next/constants/internal.ts
  libs/sdk-ui-pivot/src/next/context/PivotTablePropsContext.tsx
  libs/sdk-ui-pivot/src/next/features/aggregations/sanitization.ts
  libs/sdk-ui-pivot/src/next/features/columns/measureColDef.ts
  libs/sdk-ui-pivot/src/next/features/pivoting/columnDefsToPivotGroups.ts
  libs/sdk-ui-pivot/src/next/features/transposition/measureGroupHeaderColDef.ts
  libs/sdk-ui-pivot/src/next/features/transposition/measureGroupValueColDef.ts
  libs/sdk-ui-pivot/src/next/hooks/shared/useIsTransposed.ts
  libs/sdk-ui-pivot/src/next/hooks/useSortingProps.ts
  libs/sdk-ui-pivot/src/next/types/agGrid.ts
  libs/sdk-ui-pivot/src/next/types/menu.ts
  libs/sdk-ui-pivot/src/next/types/public.ts
  libs/sdk-ui-pivot/styles/scss/pivotTableNext.scss
  libs/sdk-ui/api/sdk-ui.api.md
  libs/sdk-ui/src/base/index.tsx
  libs/sdk-ui/src/base/results/tableData/interfaces/columns.ts
  libs/sdk-ui/src/base/results/tableData/interfaces/rows.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (f7d9101)
  .cursor/rules/guides/telemetry.mdc
  .github/workflows/check-approve.yml
  .github/workflows/check.yaml
  .github/workflows/doc-strorybook-deploy.yml
  .github/workflows/push-fossa-update-attribution-file.yml
  .github/workflows/push-prerelease.yml
  .github/workflows/release-bump-master-to-major.yml
  .github/workflows/release-release-minor.yml
  .github/workflows/rw-block-merge.yaml
  .github/workflows/rw-perform-release-patch.yml
  .github/workflows/rw-publish-documentation.yml
  .github/workflows/rw-publish-prerelease.yml
  .github/workflows/rw-publish-release.yml
  .github/workflows/rw-publish-version.yml
  .github/workflows/slack-post-merge-notification.yml
  .github/workflows/test-backstop.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (2bfe58b)
  .cursor/rules/guides/telemetry.mdc
  .github/workflows/push-prerelease.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore: sync sdk/ from gdc-ui → gooddata-ui-sdk/ (f729309)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/genAI.ts
  libs/api-client-tiger/src/generated/afm-rest-api/api.ts
  libs/api-client-tiger/src/generated/afm-rest-api/openapi-spec.json
  libs/api-client-tiger/src/index.ts
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/organization/llmEndpoints/index.ts
  libs/sdk-backend-tiger/src/backend/organization/llmEndpoints.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/index.ts
  libs/sdk-model/src/llmEndpoints/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
