Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

.lintstagedrc:

{
    "./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}": "prettier --write",
    "./**/*.{ts,js,tsx,jsx,scss}": "common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright"
}

chore: update doc
  docs/content/en/latest/references/embed_ai_assistant/_index.md
Due: prettier --write

fix: use correct feature flag value when loading
  libs/sdk-backend-tiger/src/backend/features/feature.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: handle missing axis
  libs/sdk-ui-charts/src/highcharts/adapter/plugins/autohideLabels/autohideBarLabels.ts
  libs/sdk-ui-charts/src/highcharts/adapter/plugins/autohideLabels/autohideColumnLabels.ts
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartCreators/helpers.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: do not reinit attribute filter when without apply mode is on
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/AttributeFilterProviders.tsx
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
  libs/sdk-ui-filters/src/AttributeFilter/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: upgrade axios to latest
  common/config/rush/pnpm-lock.yaml
  libs/api-client-tiger/package.json
  libs/sdk-backend-tiger/package.json
  libs/sdk-ui-tests-e2e/package.json
  tools/app-toolkit/package.json
  tools/plugin-toolkit/package.json
Due: prettier --write

docs: moved translation context Windsurf rule to MD format
  .windsurf/rules/guides/translation-context.md
  .windsurf/rules/translation-context.yml
Due: prettier --write

WIP: Add translation comments
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-ext/src/internal/translations/en-US.json
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui-semantic-search/src/localization/bundles/en-US.json
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Due: prettier --write

WIP: glossary 1
  translation-glossary.md
Due: prettier --write

fix rebase
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Due: prettier --write

fix rebase
  libs/sdk-ui-ext/src/internal/translations/en-US.json
Due: prettier --write

chore: update react-redux
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-gen-ai/package.json
Due: prettier --write

fix: loading permission grants with view permissions
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/backend/useGetAccessList.ts
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/useShareDialogBase.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: remove enableDestinationTestRecipient FF
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update attribution file
  NOTICE
Due: none

feat: Enrich column container tooltip
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddDashboardLayoutWidgetButton.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/styles/scss/sidebar.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@dev/ComponentTable.tsx
  libs/sdk-ui-kit/src/@ui/UiLink/UiLink.scss
  libs/sdk-ui-kit/src/@ui/UiLink/UiLink.tsx
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltip.tsx
  libs/sdk-ui-kit/src/@ui/UiTooltip/constants.ts
  libs/sdk-ui-kit/src/@ui/UiTooltip/types.ts
  libs/sdk-ui-kit/src/@ui/index.scss
  libs/sdk-ui-kit/src/Overlay/OverlayContext.tsx
  libs/sdk-ui-kit/src/Overlay/index.ts
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiLink_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiLink_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiLink.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: repair web component constructor
  libs/sdk-ui-web-components/src/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: propagate all props for attribute filter conversion
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: ai assistant not read correctly by screen readers
  libs/sdk-ui-gen-ai/src/components/Input.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AssistantMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/UserMessage.tsx
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui-gen-ai/styles/scss/messages.scss
  libs/sdk-ui-kit/src/syntaxHighlightingInput/hooks/useCodemirrorOptions.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: lookup attribute display forms also in catalog
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/AttributeFilterParentFilteringContext.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/CustomDropdownActions.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: remove apply on select in add dialog
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/dashboard/DashboardHeader/ShareDialogDashboardHeader.tsx
  libs/sdk-ui-dashboard/src/presentation/shareDialog/types.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialog.tsx
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/AddGranteeBase.tsx
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/ShareDialogBase.tsx
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/types.ts
  libs/sdk-ui-kit/src/Dialog/ShareDialog/ShareDialogBase/useShareDialogBase.ts
  libs/sdk-ui-kit/src/Dialog/ShareDialog/types.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix(sdk-ui-filters): revert PR #6682
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: enable automation filter flags by default
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-backend-tiger/src/backend/workspace/automations/automationsQuery.ts
  libs/sdk-backend-tiger/src/backend/workspace/automations/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/dashboards/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/exportDefinitions/exportDefinitionsQuery.ts
  libs/sdk-backend-tiger/src/backend/workspace/exportDefinitions/index.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: do not consider empty section as modified by plugin
  libs/sdk-ui-dashboard/src/model/store/ui/uiSelectors.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: handle situation when item is moved before its original position
  libs/sdk-ui-dashboard/src/_staging/layout/coordinates.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemToNewSectionHandler.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: introduce an ability to switch container's direction
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/events/userInteraction.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/common/configuration/ConfigurationBubble.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/LayoutDirectionConfigurationDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/Toolbar.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/assets/HorizontalDirectionIcon.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/assets/VerticalDirectionIcon.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboardNestedLayoutToolbar.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/icon.ts
  libs/sdk-ui-kit/src/@ui/@utils/size.ts
  libs/sdk-ui-kit/src/@ui/UiDropdownIconButton/UiDropdownIconButton.tsx
  libs/sdk-ui-kit/src/@ui/UiIcon/icons.tsx
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButton.scss
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButton.tsx
  libs/sdk-ui-kit/src/@ui/UiIconButton/UiIconButtonRenderer.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/UiListbox.scss
  libs/sdk-ui-kit/src/@ui/UiListbox/UiListbox.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/defaults/DefaultUiListboxInteractiveItemComponent.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/types.ts
  libs/sdk-ui-kit/src/@ui/UiTooltip/UiTooltip.scss
  libs/sdk-ui-kit/src/Bubble/Bubble.tsx
  libs/sdk-ui-kit/src/Overlay/Overlay.tsx
  libs/sdk-ui-kit/src/Overlay/typings.ts
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-kit/src/typings/accessibility.ts
  libs/sdk-ui-tests-e2e/cypress/tools/widget.ts
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiDropdownIconButton_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiDropdownIconButton_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiIcon_-_full-featured_icon_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiIcon_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiListbox_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiListbox_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiDropdownIconButton.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiListbox.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright
