Repository gooddata/gooddata-ui-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: documenting missing attribute filter props
  docs/content/en/latest/references/filters/attribute_filter_button_component.md
Due: prettier --write

fix: widget filters when editing
  libs/sdk-ui-dashboard/src/_staging/automation/index.ts
  libs/sdk-ui-dashboard/src/model/react/filtering/useWidgetScheduledExportFilters.ts
  libs/sdk-ui-dashboard/src/presentation/automationFilters/hooks/useDefaultSelectedFiltersForExistingAutomation.ts
  libs/sdk-ui-dashboard/src/presentation/automationFilters/hooks/useValidateExistingAutomationFilters.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: expose API for adding footer button in public search
  docs/content/en/latest/references/embed_ai_assistant/_index.md
  docs/content/en/latest/references/embed_semantic_search/_index.md
  libs/sdk-ui-gen-ai/api-extractor.json
  libs/sdk-ui-gen-ai/api/sdk-ui-gen-ai.api.md
  libs/sdk-ui-gen-ai/src/components/GenAIChat.tsx
  libs/sdk-ui-gen-ai/src/index.ts
  libs/sdk-ui-gen-ai/src/model.ts
  libs/sdk-ui-gen-ai/src/store/messages/messagesSlice.ts
  libs/sdk-ui-semantic-search/api/sdk-ui-semantic-search.api.md
  libs/sdk-ui-semantic-search/src/FooterButtonAiAssistant.tsx
  libs/sdk-ui-semantic-search/src/SemanticSearch.tsx
  libs/sdk-ui-semantic-search/src/index.ts
  libs/sdk-ui-semantic-search/src/internal.ts
  libs/sdk-ui-semantic-search/styles/scss/internal.scss
  libs/sdk-ui-semantic-search/styles/scss/main.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: make scripts more general to allow integration with gdc-ui
  common/scripts/bootstrap-catalog-export.sh
  common/scripts/bootstrap-mock-handling.sh
  common/scripts/bootstrap-plugin-toolkit.sh
  common/scripts/ci/run_cypress_recording.sh
Due: none

feat: update localisations
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/de-DE.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-AU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-GB.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-419.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-ES.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fi-FI.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-CA.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-FR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/it-IT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ja-JP.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ko-KR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/nl-NL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pl-PL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-BR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-PT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ru-RU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/tr-TR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-HK.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hans.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hant.json
  libs/sdk-ui/src/base/localization/bundles/de-DE.json
  libs/sdk-ui/src/base/localization/bundles/en-AU.json
  libs/sdk-ui/src/base/localization/bundles/en-GB.json
  libs/sdk-ui/src/base/localization/bundles/es-419.json
  libs/sdk-ui/src/base/localization/bundles/es-ES.json
  libs/sdk-ui/src/base/localization/bundles/fi-FI.json
  libs/sdk-ui/src/base/localization/bundles/fr-CA.json
  libs/sdk-ui/src/base/localization/bundles/fr-FR.json
  libs/sdk-ui/src/base/localization/bundles/it-IT.json
  libs/sdk-ui/src/base/localization/bundles/ja-JP.json
  libs/sdk-ui/src/base/localization/bundles/ko-KR.json
  libs/sdk-ui/src/base/localization/bundles/nl-NL.json
  libs/sdk-ui/src/base/localization/bundles/pl-PL.json
  libs/sdk-ui/src/base/localization/bundles/pt-BR.json
  libs/sdk-ui/src/base/localization/bundles/pt-PT.json
  libs/sdk-ui/src/base/localization/bundles/ru-RU.json
  libs/sdk-ui/src/base/localization/bundles/tr-TR.json
  libs/sdk-ui/src/base/localization/bundles/zh-HK.json
  libs/sdk-ui/src/base/localization/bundles/zh-Hans.json
  libs/sdk-ui/src/base/localization/bundles/zh-Hant.json
Due: prettier --write

fix: unify conditions to check both FF and setting
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/drill/crossFilteringHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/attributeFilter/changeAttributeDisplayFormHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/attributeFilter/changeAttributeFilterSelectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/dateFilter/changeDateFilterSelectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/filterViewHandler.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableAttributeFilter/DraggableAttributeFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableDateFilter/DraggableDateFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/CustomDropdownActions.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/useDependentDateFilters.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/useParentFilters.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/dateFilter/DefaultDashboardDateFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBar.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBarContainer.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/filterViews/FilterViews.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/hooks/useResetFiltersButton.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: make checklist scripts to allow integration with gdc-ui
  common/scripts/ci/run_cypress_integrated_tests.sh
  libs/sdk-ui-tests-e2e/docker-compose-integrated-gdcui.yaml
Due: prettier --write

chore: Remove obsolete limit prop from translation sources
  dev_docs/localisation.md
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-ext/src/internal/translations/en-US.json
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui-semantic-search/src/localization/bundles/en-US.json
  libs/sdk-ui/src/base/localization/bundles/en-US.json
  tools/i18n-toolkit/src/fixtures/en-US.json
  tools/i18n-toolkit/src/schema/localization.ts
  tools/i18n-toolkit/src/validations/test/structure.test.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: Allow UIIcon to be rendered as a block element
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiIcon/UiIcon.scss
  libs/sdk-ui-kit/src/@ui/UiIcon/UiIcon.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat: use only one prop instead of using two props meaning the same
  common/changes/@gooddata/sdk-ui-all/ine-lx-prop-cleanup_2025-07-16-09-47.json
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/dateFilter/DefaultDashboardDateFilter.tsx
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/AttributeFilterProviders.tsx
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
  libs/sdk-ui-filters/src/AttributeFilter/types.ts
  libs/sdk-ui-filters/src/DateFilter/DateFilter.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: update attribution file
  NOTICE
Due: none

fix: implementation of treeview component
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiListbox/UiListbox.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/tests/UiListbox.test.tsx
  libs/sdk-ui-kit/src/@ui/UiListbox/types.ts
  libs/sdk-ui-kit/src/@ui/UiTreeview/UiTreeview.scss
  libs/sdk-ui-kit/src/@ui/UiTreeview/UiTreeview.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/defaults/DefaultUiTreeViewItemComponent.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/tests/UiTreeview.test.tsx
  libs/sdk-ui-kit/src/@ui/UiTreeview/treeviewBem.ts
  libs/sdk-ui-kit/src/@ui/UiTreeview/types.ts
  libs/sdk-ui-kit/src/@ui/index.scss
  libs/sdk-ui-kit/src/index.ts
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiTreeview_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiTreeview_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/stories/visual-regression/ui/UiListbox.stories.tsx
  libs/sdk-ui-tests/stories/visual-regression/ui/UiTreeview.stories.tsx
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

chore: extend forbidden prop names
  libs/sdk-ui-kit/scripts/validateUiComponents.js
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: group all the results pointing to a single visualization
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/genAI/common.ts
  libs/sdk-model/src/genAI/semanticSearch.ts
  libs/sdk-model/src/index.ts
  libs/sdk-ui-semantic-search/api/sdk-ui-semantic-search.api.md
  libs/sdk-ui-semantic-search/src/ResultsItem.tsx
  libs/sdk-ui-semantic-search/src/SearchListItem.tsx
  libs/sdk-ui-semantic-search/src/SearchResultsDropdownList.tsx
  libs/sdk-ui-semantic-search/src/SemanticSearch.tsx
  libs/sdk-ui-semantic-search/src/hooks/index.ts
  libs/sdk-ui-semantic-search/src/hooks/useListScroll.ts
  libs/sdk-ui-semantic-search/src/hooks/useListSelector.ts
  libs/sdk-ui-semantic-search/src/hooks/useSearchMetrics.ts
  libs/sdk-ui-semantic-search/src/internal/AnnotatedResultsItem.tsx
  libs/sdk-ui-semantic-search/src/internal/HistoryItem.tsx
  libs/sdk-ui-semantic-search/src/internal/SearchList.tsx
  libs/sdk-ui-semantic-search/src/internal/SearchOverlay.tsx
  libs/sdk-ui-semantic-search/src/internal/UpdateDate.tsx
  libs/sdk-ui-semantic-search/src/localization/bundles/en-US.json
  libs/sdk-ui-semantic-search/src/types.ts
  libs/sdk-ui-semantic-search/src/utils/getAreaLabel.ts
  libs/sdk-ui-semantic-search/src/utils/renderDetails.tsx
  libs/sdk-ui-semantic-search/src/utils/renderItemIcon.tsx
  libs/sdk-ui-semantic-search/src/utils/renderLock.tsx
  libs/sdk-ui-semantic-search/src/utils/search.ts
  libs/sdk-ui-semantic-search/styles/scss/main.scss
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

feat(web-components): enable public path runtime config
  libs/sdk-ui-web-components/README.md
  libs/sdk-ui-web-components/src/index.ts
  libs/sdk-ui-web-components/webpack.config.cjs
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: obtain idpType from correct place
  libs/sdk-backend-tiger/src/backend/organization/index.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: proper child filter selection
  common/changes/@gooddata/sdk-ui-all/ine-lx-1196_2025-07-16-17-57.json
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

refactor: remove insight/report wording toggle
  dev_docs/localisation.md
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-ext/src/internal/translations/en-US.json
  libs/sdk-ui/api/sdk-ui.api.md
  libs/sdk-ui/src/base/index.tsx
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/index.ts
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/tests/TranslationsCustomizationProvider.test.tsx
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/tests/__snapshots__/utils.test.ts.snap
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/tests/utils.test.ts
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/utils.ts
  libs/sdk-ui/src/base/localization/bundles/en-US.json
  tools/i18n-toolkit/src/data.ts
  tools/i18n-toolkit/src/fixtures/en-US.json
  tools/i18n-toolkit/src/index.ts
  tools/i18n-toolkit/src/validate.ts
  tools/i18n-toolkit/src/validations/insightToReport.ts
  tools/i18n-toolkit/src/validations/messagesUsage.ts
  tools/i18n-toolkit/src/validations/test/insightToReport.test.ts
  tools/i18n-toolkit/src/validations/usage/checkTranslations.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: handle all time common filter reset button
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/hooks/useResetFiltersButton.ts
Due: prettier --write, common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright

fix: Generate dynamic stories before deploying storybook
  .github/workflows/rw-doc-storybook-deploy.yml
Due: none

fix: update dependency default-import to v1.1.7
  libs/sdk-ui-charts/package.json
  libs/sdk-ui-dashboard/package.json
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-filters/package.json
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-geo/package.json
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-vis-commons/package.json
  libs/sdk-ui/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: ./**/*.{ts,js,tsx,jsx,json,scss,md,yaml,html}
  common/autoinstallers/lint-staged/node_modules/.bin/gdc-fix-copyright: any of: ./**/*.{ts,js,tsx,jsx,scss}
